/*------------------------------------*\
    #STICKY TRUMPS
\*------------------------------------*/
/**
 * High-specificity, very explicit selectors. Overrides and helper classes.
 * Sticky items - menus, etc that are pinned to the edge of the viewport by JS.
 */

.sticky {
	z-index:2 !important;
}

.sticky.sticking {
	@include responsive("small") {
		position: relative !important; // Stop sticking on mobile devices.
	}
}

.stickyContainer {
	@include responsive("small") {
		height: auto !important; // Reset the height of the sticky container.
	}
}
