$nav-vertical-background-color: $nav-bar-background-color !default;
$nav-vertical-link-color: $nav-bar-link-color !default;
$nav-vertical-link-color-hover: $nav-bar-link-color-hover !default;
$nav-vertical-link-color-active: $nav-bar-link-color-active !default;
$nav-vertical-link-background-color-active: color('grey', 3) !default;
