$hc-nav-vertical-background-color: $hc-nav-bar-background-color !default;
$hc-nav-vertical-link-color: $hc-nav-bar-link-color !default;
$hc-nav-vertical-link-color-hover: $hc-nav-bar-link-color-hover !default;
$hc-nav-vertical-link-color-active: $hc-nav-bar-link-color-active !default;
$hc-nav-vertical-link-background-color-active: color('grey', 3) !default;
$hc-nav-vertical-link-font-weight: $hc-nav-bar-link-font-weight !default;
$hc-nav-vertical-link-font-weight-active: $hc-nav-bar-link-font-weight-active !default;
