$hc-navigation-minimum-height: 70px !default;
$hc-navigation-transition: all 0.5s !default;

$hc-navigation-link-border-width: 4px !default;
$hc-navigation-link-padding: 20px !default;

$hc-navigation-app-logo-padding: 17px !default;
$hc-navigation-app-logo-height: 30px !default;
$hc-navigation-app-redgate-logo-height: 36px !default;

$hc-navigation-branding-font-size: 22px !default;

$hc-navigation-icon-width: 70px !default;
$hc-navigation-icon-font-size: 24px !default;
