$hc-nav-bar-background-color: color('grey', 1) !default;
$hc-nav-bar-background-color-hover: color('grey', 2) !default;
$hc-nav-bar-link-color: color('grey', 5) !default;
$hc-nav-bar-link-color-hover: color('grey', 7) !default;
$hc-nav-bar-link-color-active: $hc-nav-bar-link-color-hover !default;
$hc-nav-bar-link-border-color: transparent !default;
$hc-nav-bar-link-border-color-active: color('red', 'brand') !default;
$hc-nav-bar-link-font-weight: 500 !default;
$hc-nav-bar-link-font-weight-active: bold !default; 
