/*------------------------------------*\
    #COLOR SCHEMES
\*------------------------------------*/


/*------------------------------------*\
    #WHITE COLOR SCHEME
\*------------------------------------*/

/**
 * White is the default website background and type color scheme
 * but sometimes you might want to apply it to a component.
 */


@mixin scheme--white {
    background-color: colour(white);
   	border-color: colour(grey, light);

   	hr {
       	border-color: colour(grey, light);
   	}

    h1,
    .alpha,
    %alpha {
        color: colour(grey, darkest);
    }

    .sub-heading {
        color: colour(grey, dark);
    }

    h2,
    .beta,
    %beta {
        color: colour(grey, darkest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(grey, darkest);
    }


    h4,
    .delta,
    %delta {
        color: colour(grey, darkest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(grey, darkest);
    }


    h6,
    .zeta,
    %zeta {
        color: colour(grey, darkest);
    }


    p, ul,  ol, dd, label {
        color: colour(default-text);
    }


    a {
		color: colour(default-text);
		border-color: colour(blue);
	}

    a:visited {

    }

    a:focus {

    }

	a:active, a:hover {
		color: colour(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(black);
            border-bottom-color: colour(blue, light);

        }
    }

	input, select, textarea {
		color: colour(near-black);
	}
}


/*------------------------------------*\
    #LIGHTEST GREY COLOR SCHEME
\*------------------------------------*/


 /**
 * This color scheme is the same as the white one
 * except for the lightest grey background color
 */


@mixin scheme--lightest-grey {
    background-color: colour(grey, lightest);
    border-color: colour(grey, light);

 // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(blue);
        color: colour(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(blue, dark);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(blue, dark);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

	input, select, textarea {
		color: colour(near-black);
	}
}





/*------------------------------------*\
    #LIGHTEST BLUE COLOR SCHEME
\*------------------------------------*/

@mixin scheme--lightest-blue {
    background-color: colour(blue, lightest);
    color: colour(blue, dark);

// @TODO - this colour should be lighter - for example #bad6e7
// This then needs to be set as a daisychained variable in settings.
    border-color: #bad6e7 !important;

// @TODO - sort out this colour variable- as above.
    hr {
       	border-color: #bad6e7 !important;
   	}


    h1,
    .alpha,
    %alpha {
        color: colour(blue, darkest);
    }


    h2,
    .beta,
    %beta {
        color: colour(blue, darkest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(blue, darkest);
    }


    h4,
    .delta,
    %delta {
        color: colour(blue, darkest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(blue, darkest);
    }


    h6,
    .zeta,
    %zeta {
        color: colour(blue, darkest);
    }


    p, ul,  ol, dd, label {
        color: colour(blue, dark);
    }


    a {
		color: colour(blue, dark);
		border-color: colour(blue, light);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        color: colour(blue, darkest);
        border-bottom-color: transparent;
        &:hover {
            color: colour(black);
            border-bottom-color: colour(blue, light);

        }
    }

    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(blue);
        color: colour(blue, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(blue, dark);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(blue, dark);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

	input, select, textarea {
		color: colour(near-black);
	}

/*
    aside, .island {
        @include scheme--darkest-grey;
    }
*/
}





/*------------------------------------*\
    #DARKEST GREY COLOR SCHEME
\*------------------------------------*/

@mixin scheme--darkest-grey {
    background-color: colour(grey, darkest);
   	border-color: colour(grey, dark);
    color: colour(grey, lightest);

    // smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
   	   	border-color: colour(grey, dark);
    }

    h1,
    .alpha,
    .main-heading,
    %alpha {
        color: colour(white);
    }


    h2,
    .beta,
    .sub-heading,
    %beta {
        color: colour(grey, lightest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(grey, lightest);
    }


    h4,
    .delta,
    %delta {
        color: colour(grey, lightest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(grey, lightest);
    }


    h6,
    .zeta,
    %zeta {
        color: colour(grey, lightest);
    }


    p, ul,  ol, dd, label {
        color: colour(grey, light);
    }


    a {
		color: colour(grey, lightest);
		border-color: colour(blue);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(near-black);
        color: colour(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(black);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(black);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

	input, select, textarea {
		color: colour(near-black);
	}

    table {
        background-color: colour(grey, darkest);
        color: colour(grey, lightest);
    }

    th {
        background-color: colour(grey, dark);
        color: colour(grey, lightest);
    }

    th, td {
        border-color: colour(grey, dark);
    }

    tr:hover {
    	background-color: colour(grey, dark);
    }
}

/*------------------------------------*\
    #BLUE COLOR SCHEME
\*------------------------------------*/

@mixin scheme--blue {
    background-color: colour(blue);
    border-color: colour(blue, dark);
   	color: colour(white);
   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: colour(white);
   	}


    h1,
    .alpha,
    %alpha {
        color: colour(white);
    }


    h2,
    .beta,
    %beta {
        color: colour(white);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(white);
    }


    h4,
    .delta,
    %delta {
        color: colour(white);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(white);
    }


    h6,
    .zeta,
    %zeta {
    }


    p, ul,  ol, dd, label {
        color: colour(white);
    }


    a {
		color: colour(blue, lightest);
		border-color: colour(blue, darkest);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, darkest);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(near-black);
        color: colour(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(black);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(black);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

/*
    aside, .island {
        @include scheme--black;
    }
*/
}


/*------------------------------------*\
    #DARKEST BLUE COLOR SCHEME
\*------------------------------------*/

@mixin scheme--darkest-blue {
    background-color: colour(blue, darkest);
    border-color: colour(grey, dark);
    color: colour(grey, lightest);

   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: colour(grey, dark);
   	}


    h1,
    .alpha,
    %alpha {
        color: colour(grey, lightest);
    }


    h2,
    .beta,
    %beta {
        color: colour(grey, lightest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(grey, lightest);
    }


    h4,
    .delta,
    %delta {
        color: colour(grey, lightest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(grey, lightest);
    }


    h6,
    .zeta,
    %zeta {
    }


    p, ul,  ol, dd, label {
        color: colour(grey, light);
    }


    a {
		color: colour(grey, lightest);
		border-color: colour(blue);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(near-black);
        color: colour(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(black);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(black);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

	input, select, textarea {
		color: colour(near-black);
	}
}





/*------------------------------------*\
    #NEAR BLACK COLOR SCHEME
\*------------------------------------*/

@mixin scheme--near-black {
    background-color: colour(near-black);
    border-color: colour(grey);
    color: colour(grey, lightest);

   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: colour(grey);
   	}


    h1,
    .alpha,
    %alpha {
        color: colour(grey, lightest);
    }


    h2,
    .beta,
    %beta {
        color: colour(grey, lightest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(grey, lightest);
    }


    h4,
    .delta,
    %delta {
        color: colour(grey, lightest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(grey, lightest);
    }


    h6,
    .zeta,
    %zeta {
        color: colour(grey, lightest);
    }


    p, ul,  ol, dd, label {
        color: colour(grey, light);
    }


    a {
		color: colour(grey, lightest);
		border-color: colour(blue);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, light);
	}

	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

	input, select, textarea {
		color: colour(near-black);
	}
}





/*------------------------------------*\
    #BLACK COLOR SCHEME
\*------------------------------------*/

@mixin scheme--black {
    background-color: colour(black);
    border-color: colour(grey, darkest);
    color: colour(grey, lightest);

   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: colour(grey, darkest);
   	}


    h1,
    .alpha,
    %alpha {
        color: colour(grey, lightest);
    }


    h2,
    .beta,
    %beta {
        color: colour(grey, lightest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(grey, lightest);
    }


    h4,
    .delta,
    %delta {
        color: colour(grey, lightest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(grey, lightest);
    }


    h6,
    .zeta,
    %zeta {
    }


    p, ul,  ol, dd, label {
        color: colour(grey, light);
    }


    a {
		color: colour(grey, lightest);
		border-color: colour(blue);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

	input, select, textarea {
		color: colour(near-black);
	}
}

/*------------------------------------*\
    #RED COLOR SCHEME
\*------------------------------------*/

@mixin scheme--red {
    background-color: colour(red);
   	border-color: colour(red, dark);
    color: colour(red, lightest);

    // smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
   	   	border-color: colour(red, dark);
    }

    h1,
    .alpha,
    .main-heading,
    %alpha {
        color: colour(white);
    }


    h2,
    .beta,
    .sub-heading,
    %beta {
        color: colour(red, lightest);
    }


    h3,
    .gamma,
    %gamma {
        color: colour(red, lightest);
    }


    h4,
    .delta,
    %delta {
        color: colour(red, lightest);
    }


    h5,
    .epsilon,
    %epsilon {
        color: colour(red, lightest);
    }


    h6,
    .zeta,
    %zeta {
        color: colour(red, lightest);
    }


    p, ul,  ol, dd, label {
        color: colour(red, light);
    }


    a {
		color: colour(grey, lightest);
		border-color: colour(blue);
	}
    a:visited {

    }
    a:focus {

    }
	a:active, a:hover {
		color: colour(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: colour(white);
            border-bottom-color: colour(blue, light);

        }
    }

    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: colour(near-black);
        color: colour(red, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: colour(white);
        background-color: colour(black);
    }

    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: colour(black);
        color: colour(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}

	input, select, textarea {
		color: colour(near-black);
	}

    table {
        background-color: colour(red, darkest);
        color: colour(red, lightest);
    }

    th {
        background-color: colour(red, dark);
        color: colour(red, lightest);
    }

    th, td {
        border-color: colour(red, dark);
    }

    tr:hover {
    	background-color: colour(red, dark);
    }
}
