// TODO add any extra documentation and an example

//  Mixin for adding padding to objects/components.
@mixin padding($scale: 1, $direction: all) {

  $padding: inherit;
  $property: padding;

  @if index($padding-whitelist, $scale) {
    $padding: round($spacing-unit * $scale);
  } @else {
    @error "Scale '#{$scale}' is not a valid value for `padding`.";
    $padding: false;
  }

  // Determine the direction.
  @if $direction == "all" {
    $property: padding;
  } @else {
    $property: padding-#{$direction};
  }

  // Print the rule.
  @if $padding {
    #{$property}: $padding;
    #{$property}: ($padding / $spacing-unit) * ($spacing-unit / $font-size) * 1rem;
  }
}
