/*------------------------------------*\
    #BACK TO TOP
\*------------------------------------*/

/**
* Styles for back to top link.
*/

%scroll {
    border:none;
    font-weight: bold;
    &:before {
        content: "\e636";
        font-family: "Redgate";
        @include margin(0.25, right);
    }
}

.scroll--up {
    @extend %scroll;
    &:before {
        content: "\e636";
    }
}

.scroll--down {
    @extend %scroll;
    &:before {
        content: "\e633";
    }
}

.scroll--left {
    @extend %scroll;
    &:before {
        content: "\e634";
    }
}

.scroll--right {
    @extend %scroll;
    &:before {
        content: "\e635";
    }
}
