/*------------------------------------*\
    #ROUNDED CORNER STYLES
\*------------------------------------*/

// The default radius is set in base/settings/_settings.scss
// As needed set a project-specific radius in /{project}/_settings.scss

@mixin rounded () {
  @include px-rem(border-radius, $hc-corner-radius);
}

@mixin rounded-top () {
  @include px-rem(border-top-left-radius, $hc-corner-radius);
  @include px-rem(border-top-right-radius, $hc-corner-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@mixin rounded-bottom () {
  @include px-rem(border-bottom-left-radius, $hc-corner-radius);
  @include px-rem(border-bottom-right-radius, $hc-corner-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin rounded-left () {
  @include px-rem(border-top-left-radius, $hc-corner-radius);
  @include px-rem(border-bottom-left-radius, $hc-corner-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin rounded-right () {
  @include px-rem(border-top-right-radius, $hc-corner-radius);
  @include px-rem(border-bottom-right-radius, $hc-corner-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@mixin rounded-top-left () {
  @include px-rem(border-top-left-radius, $hc-corner-radius);
}

@mixin rounded-top-right () {
  @include px-rem(border-top-right-radius, $hc-corner-radius);
}

@mixin rounded-bottom-right () {
  @include px-rem(border-bottom-right-radius, $hc-corner-radius);
}

@mixin rounded-bottom-left () {
  @include px-rem(border-bottom-left-radius, $hc-corner-radius);
}

// make the element circular
@mixin rounded-circle () {
  @include px-rem(border-radius, 999);
}
