@keyframes dismiss {
    from { transform: scaleY(1) }
    to   { transform: scaleY(0) }
}

.notification--block {
    border: none;
    @include padding(0);
    @include border-left;
    @include px-rem('border-left-width', $hc-notification-border-width);

    .notification--block__inner-container {
        margin: auto;
        padding: $hc-notification-block-padding;
    }

    .notification__close {
        @include font-size(0px, 0);
        display: block;
        width: $hc-notification-block-close-size;
        height: $hc-notification-block-close-size;
        transition: none;
        color: transparent;
        border-bottom: none;

        &:before {
            @include font-size($hc-notification-block-close-size);
            font-family: 'Redgate';
            content: '\e639';
            color: $hc-notification-block-close-color;
        }
    }

    
    .notification__icon {
        @include font-size($hc-notification-block-icon-size, false);
    }

    // dismissal animation
    &.notification--dismissed {
        -webkit-animation: dismiss 500ms;
        -moz-animation: dismiss 500ms;
        animation: dismiss 500ms;
    }

    /**
     * Info
     */
    &.notification--info {
        border-color: $hc-notification-color--info;

        .notification__close,
        .notification__icon {
            color: $hc-notification-color--info;
        }
    }

    /**
     * Fail
     */
    &.notification--fail {
        border-color: $hc-notification-color--fail;

        .notification__close,
        .notification__icon {
            color: $hc-notification-color--fail;
        }
    }

    /**
     * Success
     */
    &.notification--success {
        border-color: $hc-notification-color--success;

        .notification__close,
        .notification__icon {
            color: $hc-notification-color--success;
        }
    }

    /**
     * Warning
     */
    &.notification--warning {
        border-color: $hc-notification-color--warning;

        .notification__close,
        .notification__icon {
            color: $hc-notification-color--warning;
        }
    }

    /**
     * Minimal notifications
     */
    &--minimal {
        @include px-rem('border-width', 1);
        @include px-rem('border-left-width', $hc-notification-border-width);
        background-color: transparent;
        border-style: solid;

        .notification--block__inner-container {
            padding: $hc-notification-block--minimal-padding;
        }

        .notification__icon {
            display: none;
        }
    }
}
