.notification {
    @extend .media;
    @include padding(1);
    @include border-left;
    @include px-rem('border-left-width', 15);
    background-color: color('grey', 2);
}

.notification--info {
    border-color: color('blue');
}

.notification--fail {
    border-color: color('red');
}

.notification--success {
    border-color: color('green');
}

.notification__icon {
    @extend .media__image;
    @include margin(0, bottom);
    @include margin(0.5, right);
}

.notification__close {
    @extend .media__image--right;
}

.notification__body {
    @extend .media__body;
}
