/*------------------------------------*\
    #TABS
\*------------------------------------*/

.tabbed {
    .main-heading {
        text-align: center;
    }
}

.tabbed nav:first-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: color("grey", 3);
}

.tabs {
    clear: both;
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    text-align: center;

    &--left {
        justify-content: flex-start;
    }
}

.tabs li {
    @include margin(0);
    position: relative;
    display: inline-block;
    width: auto;

    @include responsive("medium") {
        display: block;
        overflow: hidden;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: color("grey", 3);
    }

    &.active {
        font-weight: bold;

        a::after {
            top: calc(100% - 4px);
        }
    }
}

.tabs a {
    @include padding(0.5);
    @include padding($hc-tabs-padding-horizontal, "left");
    @include padding($hc-tabs-padding-horizontal, "right");
    display: block;
    transition: none;
    color: $hc-tabs-link-color;

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 9999px; // For browsers that don't understand calc.
        top: calc(100% + #{$hc-tabs-border-width});
        width: 100%;
        height: $hc-tabs-border-width;
        background-color: $hc-tabs-border-color;
        transition: all 0.15s ease-in-out;
    }

    &:hover:after {
        top: calc(100% - 4px);
    }
}

.tabbed__content {
  @include padding(0.5, "top");
  @include padding(0.5, "bottom");
}
