/*------------------------------------*\
    #TABS
\*------------------------------------*/

.tabbed {
    .main-heading {
        text-align: center;
    }
}

.tabs {
    @include clearfix();
    float: left;
    width: 100%;
    list-style: none;
    margin:  0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: $tabs-border-width;
}

.tabs li {
    @include margin(0);
    @include margin(0.25, right);
    position: relative;
    float: left;
    top: $tabs-border-width;

    @include responsive("small") {
        @include margin(0);
        @include margin(0.25, bottom);
        float: none;
    }
}

.tabs li.active {
    @include margin(0);
    @include margin(-0.25, left);
    @include padding(0.25, left);
    @include padding(0.25, right);

    @include responsive("small") {
        @include margin(0);
        @include padding(0, left);
        @include padding(0, right);
    }
}

.tabs a {
    @include padding(0.25);
    @include padding(0.5, left);
    @include padding(0.5, right);
    display: block;
    text-decoration: none;
    border:none;
    border-top-style: solid;
    border-top-width: $tabs-border-width;
    border-bottom-style: solid;
    border-bottom-width: $tabs-border-width;
}

.tabbed__content {
  @include padding(0.5);
}


/* Default colours */
.tabs {
    border-bottom-color: $tabs-border-color;
}

.tabs li.active {
    background-color: color('white');

    a {
        border-top-color: color('blue');
        border-bottom-color: color('white');
        background-color: color('white');
    }

}

.tabs a {
    background-color: $tabs-background-color;
    border-top-color: $tabs-border-color;
    border-bottom-color: $tabs-border-color;
    color: $tabs-link-color;
}
