/*------------------------------------*\
    #TABS
\*------------------------------------*/

.tabbed {
    .main-heading {
        text-align: center;
    }
}

.tabbed nav:first-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: color("grey", 3);
    text-align: center;
}

.tabs {
    clear: both;
    margin: auto;
    display: table;
    table-layout: fixed;
    list-style: none;
    width: 100%;
    max-width: $tabs-max-width;
    max-width: px-rem($tabs-max-width);
    overflow: hidden;
}

.tabs li {
    @include margin(0);
    position: relative;
    display: inline-block;
    width: auto;
    border-bottom-width: $tabs-border-width;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    overflow: hidden;
    transform: translate(0, 11px);

    @include responsive("medium") {
        display: block;
    }

    &.active {
        font-weight: bold;

        a::after {
            top: calc(100% - 4px);
        }
    }
}

.tabs a {
    @include padding(0.5);
    @include padding(1, "left");
    @include padding(1, "right");
    display: block;
    transition: none;
    color: $tabs-link-color;

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 9999px; // For browsers that don't understand calc.
        top: calc(100% + #{$tabs-border-width});
        width: 100%;
        height: $tabs-border-width;
        background-color: $tabs-border-color;
        transition: all 0.15s ease-in-out;

        @include responsive("medium") {
            display: none;
        }
    }

    &:hover:after {
        top: calc(100% - 4px);
    }
}

.tabbed__content {
  @include padding(0.5);
}