/*------------------------------------*\
    #Honeycomb
\*------------------------------------*/
/**
 * Basic styles for the default Honeycomb honeycomb.
 */

.band--honeycomb .band__inner-container {
    @include padding(2, top);
    @include padding(0.5, bottom);
}


.section-heading--honeycomb {
    border-bottom: 1px solid #ccc;
}


/*------------------------------------*\
    #COLOUR-CHIPS
\*------------------------------------*/
.colour-chips {
    @extend %list--bare;
    @extend %list--horizontal;
    li {
        text-align: center;
        vertical-align: top;
        @include rounded;
        @include border;
        @extend .padded;
        height:8em;
        width:19%;
    }
}


.green-block {
    background-color: color(green, lightest);
}




/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.honeycomb-footer {
    .band {
        @include padding(1, top);    
        @include padding(1, bottom);     
    }
}




