.color--black {
    color: color('black') !important;
}

.color--white {
    color: color('white') !important;
}

.color--red {
    & {
        color: color('red') !important;
    }
    &--light {
        color: color('red', 3) !important;
    }
    &--lightest {
        color: color('red', 2) !important;
    }
    &--dark {
        color: color('red', 5) !important;
    }
    &--darkest {
        color: color('red', 6) !important;
    }
    &--brand {
        color: color('red', 'brand') !important;
    }
}

.color--near-black {
    color: color('grey', 7);
}

.color--grey {
    & {
        color: color('grey') !important;
    }
    &--light {
        color: color('grey', 3) !important;
    }
    &--lightest {
        color: color('grey', 2) !important;
    }
    &--dark {
        color: color('grey', 5) !important;
    }
    &--darkest {
        color: color('grey', 6) !important;
    }
}

.color--blue {
    & {
        color: color('blue') !important;
    }
    &--light {
        color: color('blue', 3) !important;
    }
    &--lightest {
        color: color('blue', 2) !important;
    }
    &--dark {
        color: color('blue', 6) !important;
    }
    &--darkest {
        color: color('blue', 7) !important;
    }
}

.color--green {
    & {
        color: color('green') !important;
    }
    &--light {
        color: color('green', 2) !important;
    }
    &--lightest {
        color: color('green', 1) !important;
    }
    &--dark {
        color: color('green', 5) !important;
    }
    &--darkest {
        color: color('green', 6) !important;
    }
}
