// Loop through and produce selectors such as:
// .color--red,
// .color--red--1,
// .background-color--red,
// .background-color--red--1 {}

@each $color, $shades in $hc-site-colors {
    $base-color: map-get($shades, 'base');

    .color--#{$color} {
        color: $base-color !important;
    }

    .background-color--#{$color} {
        background-color: $base-color !important;
    }

    .border-color--#{$color} {
        border-color: $base-color !important;
    }

    .color-code--#{$color}:after {
        content: '#{$base-color}' !important;
    }

    @each $shade, $code in $shades {
        .color--#{$color}--#{$shade} {
            color: $code !important;
        }

        .background-color--#{$color}--#{$shade} {
            background-color: $code !important;
        }

        .border-color--#{$color}--#{$shade} {
            border-color: $code !important;
        }

        .color-code--#{$color}--#{$shade}:after {
            content: '#{$code}' !important;
        }
    }
}
