$hc-notification-block-padding: 17px 15px !default;
$hc-notification-block--minimal-padding: 16px 15px 16px 20px !default;
$hc-notification-block-icon-size: 18px !default;
$hc-notification-block-close-size: 16px !default;
$hc-notification-block-close-color: color('grey', 8) !default;