@mixin checkboxDimensions ($height: $checkbox-height) {
	$border-width : $height * .1;
	height: $height;
	width: $height;
	border: $border-width solid $checkbox-unchecked-color;

	&::before, &::after {
		width: $height * .2;
	}

	&::before {
		top:$height * .72;
		left: $height * .41;
		box-shadow: 0 0 0 $height * .05 $checkbox-background-color;
	}

	&::after {
		top: $height * .37;
		left: $height * .05;
	}

	span {
		padding-left: $height + 10;
		padding-top: 2px;
	}

	&.checkbox--loading {
		background-size: $height * 0.6;
		background-position: $border-width;
	}
}
