// based on https://codepen.io/theigmo87/pen/cwHyK

@keyframes downstroke {
    0% { height: 0; }
    100% { height: $checkbox-height/2;  }
}
@keyframes upstroke {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height * 1.2; }
}

@keyframes downstrokeSmall {
    0% { height: 0; }
    100% { height: $checkbox-height-small/2;  }
}
@keyframes upstrokeSmall {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $checkbox-height-small * 1.2; }
}

input[type=checkbox].checkbox {
    display:none;
}


.checkbox {
    @include checkboxDimensions();

    background-color: transparent;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease $checkbox-duration/2, opacity ease $checkbox-duration/2;
    cursor:pointer;

    &:hover {
        opacity: 0.8;
    }

    &::before, &::after {
        box-sizing: border-box;
        position: absolute;
        height: 0;
        background-color: $checkbox-checked-color;
        display: inline-block;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        transition: opacity ease .5;
    }

    &::before {
        transform: rotate(-135deg);
    }

    &::after {
        transform: rotate(-45deg);
    }


    span {
        display: inline-block;
        width: 400px;
    }

    &.checkbox--small {
        @include checkboxDimensions($checkbox-height-small);
        
        span {
            padding-top: 0 !important;
        }
    }

    &.checkbox--loading {
        border: none;
        background-image: url(#{$checkbox-loading-icon-dir}/spinny.gif);
        background-repeat: no-repeat;

        &::before, &::after {
            display: none;
        }
    }
}

input[type=checkbox].checkbox--loading + .checkbox {
    @extend .checkbox--loading;
}


input[type=checkbox]:checked + .checkbox, 
.checkbox--checked {
    border-color: $checkbox-checked-color;
    
    &::after{
        height: $checkbox-height * .5;
        animation: downstroke $checkbox-duration/2 ease 0s forwards;
    }
    &.checkbox--small::after {
        height: $checkbox-height-small * .5;
        animation: downstrokeSmall $checkbox-duration/2 ease 0s forwards;
    }
     
    &::before{
        height: $checkbox-height * 1.2;
        animation: upstroke $checkbox-duration ease 0s forwards;
    }
    &.checkbox--small::before{
        height: $checkbox-height-small * 1.2;
        animation: upstrokeSmall $checkbox-duration ease 0s forwards;
    }
}