// based on https://codepen.io/theigmo87/pen/cwHyK

@keyframes downstroke {
    0% { height: 0; }
    100% { height: $hc-checkbox-height/2;  }
}
@keyframes upstroke {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $hc-checkbox-height * 1.2; }
}

@keyframes downstrokeSmall {
    0% { height: 0; }
    100% { height: $hc-checkbox-height-small/2;  }
}
@keyframes upstrokeSmall {
    0% { height: 0; }
    50% { height: 0; }
    100% { height: $hc-checkbox-height-small * 1.2; }
}

input[type=checkbox].hc-checkbox {
    display:none;
}


.hc-checkbox {
    @include checkboxDimensions();

    background-color: transparent;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease $hc-checkbox-duration/2, opacity ease $hc-checkbox-duration/2;
    cursor:pointer;

    &:hover {
        opacity: 0.8;
    }

    // checkbox shape
    &::before, &::after {
        box-sizing: border-box;
        position: absolute;
        height: 0;
        background-color: $hc-checkbox-checked-color;
        display: inline-block;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        transition: opacity ease .5;
    }

    &::before {
        transform: rotate(-135deg);
    }

    &::after {
        transform: rotate(-45deg);
    }


    span {
        @include font-size(14px);
        display: inline-block;
        width: 400px;
    }

    &.hc-checkbox--small {
        @include checkboxDimensions($hc-checkbox-height-small);
        
        span {
            font-size: inherit;
            padding-top: 0 !important;
            vertical-align: top;
            margin-top: -4px;
        }
    }

    
    // for right-aligned text
    &.hc-checkbox--right {
        margin-right: 0;
        
        span {
            margin-left: -400px;
            padding-right: 35px;
        }
    }


    // loading state for ajax requests
    &.hc-checkbox--loading {
        background-image: url(#{$hc-checkbox-loading-icon-dir}/spinny.gif);
        background-repeat: no-repeat;

        &::before, &::after {
            display: none;
        }
    }
}

input[type=checkbox].hc-checkbox--loading + .hc-checkbox {
    @extend .hc-checkbox--loading;
}


input[type=checkbox]:checked + .hc-checkbox, 
.hc-checkbox--checked {
    border-color: $hc-checkbox-checked-color;
    
    &::after{
        height: $hc-checkbox-height * .5;
        animation: downstroke $hc-checkbox-duration/2 ease 0s forwards;
    }
    &.hc-checkbox--small::after {
        height: $hc-checkbox-height-small * .5;
        animation: downstrokeSmall $hc-checkbox-duration/2 ease 0s forwards;
    }
     
    &::before{
        height: $hc-checkbox-height * 1.2;
        animation: upstroke $hc-checkbox-duration ease 0s forwards;
    }
    &.hc-checkbox--small::before{
        height: $hc-checkbox-height-small * 1.2;
        animation: upstrokeSmall $hc-checkbox-duration ease 0s forwards;
    }
}
