/*------------------------------------*\
    #TABLE
\*------------------------------------*/

table {
    width: 100%;
    vertical-align: top;
    background-color: $hc-table-background-colour;
}

/**
 * Move the caption beneath the table.
 * Note: Caption must be the first element within the table element.
 */
table caption {
    @include margin(0.5, top);
    caption-side: bottom;
}

th, td {
    @include border-top();
    @include border-bottom();
    padding: $hc-table-padding-vertical $hc-table-padding-horizontal;
    border-color: $hc-table-border-colour;
    word-wrap: break-word;
    word-break: normal;
    vertical-align: top;

    :last-child {
        @include margin(0, 'bottom');
    }
}

th, thead td {
    font-weight: bold;
    color: $hc-table-heading-colour;
}

th {
    border-right: 3px solid $hc-table-border-colour;
    text-align: left;
}

thead th, .th-row th {
    border-right: 0;
    border-top: 0;
    border-bottom: 3px solid $hc-table-border-colour;

    &:first-of-type:empty {
        border-bottom: 0;
    }
}