/*------------------------------------*\
    #TABLE
\*------------------------------------*/

table {
    width: 100%;
    vertical-align: top;
    background-color: $hc-table-background-colour;
}

/**
 * Move the caption beneath the table.
 * Note: Caption must be the first element within the table element.
 */
table caption {
    @include margin(0.5, top);
    caption-side: bottom;
}

th, td {
    @include padding(0.5);
    @include border-top();
    @include border-bottom();
    border-color: $hc-table-border-colour;
    word-wrap: break-word;
    word-break: normal;
    vertical-align: top;

    :last-child {
        @include margin(0, 'bottom');
    }
}

th, thead td {
    font-weight: bold;
    color: $hc-table-heading-colour;
}

th {
    border-right: 3px solid $hc-table-border-colour;
    text-align: left;
}

thead th {
    border-right: 0;
    border-top: 0;
    border-bottom: 3px solid $hc-table-border-colour;
}

tr {
    &:hover {
        background: color('grey', 1);
    }
}

/**
 * Force table cells to all render at the same width.
 */
.table-grid {
    table-layout: fixed;
}

/**
 * Responsive table styles
 */
.table--responsive {
    @include responsive("medium") {
        thead {
            display: none; /* Hide the table heading row */
        }

        th, td {
            float: left;
            clear: both;
            width: 100%;
            text-align: center;
        }

        td:first-child {
            margin-top: 1rem;
        }

        td:before {
            content: attr(title); /* Add the column heading to the cell */
            display: block;
        }
    }
}
