/*------------------------------------*\
    #BUTTON SETTINGS
\*------------------------------------*/

$button-padding:         $spacing-unit / 2 !default;
$button-padding--small:  $button-padding / 2 !default;
$button-padding--large:  $button-padding * 2 !default;
$button-background:      #666 !default;

$button-colour:          #fff !default;
$button-border-width:    0px !default;
$button-border-style:    solid !default;
$button-border-colour:   $button-background !default;
$button-radius:          5px !default;

// Hover states
$button-hover-background:      #000 !default;
$button-hover-colour:          $button-colour !default;
$button-hover-border-width:    $button-border-width !default;
$button-hover-border-style:    $button-border-style !default;
$button-hover-border-colour:   $button-border-colour !default;
