/*------------------------------------*\
    #BUTTON SETTINGS
\*------------------------------------*/

// Padding
$hc-button-padding: 12px 18px !default;
@if $hc-mode == app {
    $hc-button-padding: 6px 20px;
}

$hc-button-padding--large: 15px 20px !default;
@if $hc-mode == app {
    $hc-button-padding--large: 8px 20px;
}

$hc-button-padding--small: 8px 16px !default;
@if $hc-mode == app {
    $hc-button-padding--small: 4px 18px;
}

$hc-button-padding--x-small: 5px 16px !default;
@if $hc-mode == app {
    $hc-button-padding--x-small: 3px 18px;
}

$hc-button-padding--xx-small: 3px 6px !default;
@if $hc-mode == app {
    $hc-button-padding--xx-small: 2px 12px;
}

// Font size
$hc-button-font-size: $hc-font-size !default;

$hc-button-font-size--large: 18px !default;
@if $hc-mode == app {
    $hc-button-font-size--large: 16px;
}

$hc-button-font-size--small: 16px !default;
@if $hc-mode == app {
    $hc-button-font-size--small: 14px;
}

$hc-button-font-size--x-small: 14px !default;
@if $hc-mode == app {
    $hc-button-font-size--x-small: 12px;
}

$hc-button-font-size--xx-small: 12px !default;
@if $hc-mode == app {
    $hc-button-font-size--xx-small: 10px;
}

// Background
$hc-button-background:                      color('grey', 3) !default;
$hc-button-hover-background:                color('grey', 4) !default;
$hc-button-active-background:               color('grey', 5) !default;
$hc-button-disabled-background:             color('grey', 2) !default;
$hc-button-transparent-background:          transparent !default;
$hc-button-transparent-hover-background:    color('grey', 2) !default;

$hc-button-primary-background:             color('blue', 6) !default;
$hc-button-primary-hover-background:       color('blue', 7) !default;
$hc-button-primary-active-background:      color('blue', 8) !default;
$hc-button-primary-disabled-background:    color('blue', 3) !default;

// Text
$hc-button-color:                           color('grey', 7) !default;
$hc-button-primary-color:                   color('white') !default;
$hc-button-disabled-color:                  color('grey') !default;
$hc-button-disabled-primary-color:          color('white') !default;
$hc-button-transparent-color:               color('grey', 7) !default;
$hc-button-transparent-active-color:        color('grey', 9) !default;
$hc-button-transparent-dark-color:          color('white') !default;
$hc-button-transparent-dark-active-color:   color('grey', 2) !default;

// Border
$hc-button-border-width:    0 !default;
$hc-button-border-style:    solid !default;
$hc-button-border-color:    transparent !default;
$hc-button-radius:          5px !default;
$hc-button-jazzy-thickness: 4px !default;
$hc-button-jazzy-radius:    100px !default;
