/*------------------------------------*\
    #BUTTON SETTINGS
\*------------------------------------*/

// Padding
$button-padding:                12px 18px !default;
$button-padding--large:         15px 20px !default;
$button-padding--small:         8px 16px !default;
$button-padding--x-small:       5px 16px !default;
$button-padding--xx-small:      3px 6px !default;

// Font size
$button-font-size--large:       18px !default;
$button-font-size--small:       16px !default;
$button-font-size--x-small:     14px !default;
$button-font-size--xx-small:    12px !default;

// Background
$button-background:             color('grey', 3) !default;
$button-hover-background:       color('grey', 4) !default;
$button-active-background:      color('grey', 5) !default;
$button-disabled-background:    color('grey', 2) !default;
$button-transparent-background: transparent !default;

$button-primary-background:             color('blue', 6) !default;
$button-primary-hover-background:       color('blue', 7) !default;
$button-primary-active-background:      color('blue', 8) !default;
$button-primary-disabled-background:    color('blue', 3) !default;

// Text
$button-color:                  color('grey', 7) !default;
$button-primary-color:          color('white') !default;
$button-disabled-color:         color('grey') !default;
$button-transparent-color:      color('grey', 7) !default;
$button-transparent-active-color: color('grey', 9) !default;
$button-transparent-dark-color:      color('white') !default;
$button-transparent-dark-active-color: color('grey', 2) !default;

// Border
$button-border-width:           0 !default;
$button-border-style:           solid !default;
$button-border-color:           transparent !default;
$button-radius:                 5px !default;
