.expand-container, [data-macro-name="expand"] {
    @include margin(0.25, 'bottom');

    .expand-content {
        &.expand-hidden {
            display: none;
            opacity: 0;
        }
    }

    .expand-icon {
        display: none;
    }

    .expand-control {
        @extend .icon--chevron-down;
        cursor: pointer;
        color: $hc-link-color;

        &:hover {
            color: $hc-link-hover-color;
        }

        &:before {
            @include margin(0.1, 'right', true);
        }

        &.expand-content-hidden {
            @extend .icon--chevron-right;
        }

        button.aui-button-link {
        background-color: transparent !important;

            &:hover {
                background-color: transparent !important;
            }
        }
    }
}