/*------------------------------------*\
    #TABLE
\*------------------------------------*/
.table-wrap {
    overflow: auto;
}

.confluenceTable .highlight-grey {
    background-color: color('grey', 1);
}

.confluenceTable .highlight-red {
    background-color: color('red', 1);
}

.confluenceTable .highlight-green {
    background-color: color('green', 1);
}

.confluenceTable .highlight-blue {
    background-color: color('blue', 1);
}

.confluenceTable .highlight-yellow {
    background-color: color('yellow', 1);
}
