$hc-whats-new-width: 450px !default;
$hc-whats-new-border-radius: 5px !default;
$hc-whats-new-border-width: 1px !default;
$hc-whats-new-border-color: color('blue', 6) !default;
$hc-whats-new-shadow-color: color('grey', 6) !default;
$hc-whats-new-heading-font-size: 18px !default;
$hc-whats-new-item-border-width: 4px !default;
$hc-whats-new-item-border-color: color('grey', 1) !default;
$hc-whats-new-background-color: color('white') !default;