/*------------------------------------*\
    #GENERIC LIST STYLES
\*------------------------------------*/

.ul--square {
  list-style: square;
}

.ul--circle {
  list-style: circle;
}

.ul--disc {
  list-style: disc;
}

.ol--lower-alpha {
  list-style: lower-alpha;
}

.ol--lower-roman {
  list-style: lower-roman;
}

// Vertical
// Normal list?

// Horizontal
.list--horizontal,
%list--horizontal {
  @include margin(0, left);
  list-style: none;

  li {
    display: inline-block;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }
  }
}


// Unbulleted list
.list--no-bullet,
%list--no-bullet {
  list-style: none;
}


// Bare list
.list--bare,
%list--bare {
  @include margin(0);
  @include padding(0);
  list-style: none;
}
// Nested bare lists
li > .list--bare {
  @include margin(0.5, 'left');
  margin-top: 5px;
}

.list--padded,
%list--padded {

  li {
    @include padding(0.25);
  }

  &.list--horizontal {

    li {
      @include padding(0);
      @include padding(0.25, left);
      @include padding(0.25, right);

      &:first-child {
          @include padding(0, left);
      }

      &:last-child {
          @include padding(0, right);
      }
    }
  }
}

// class to reset to default padding, for use with lists nested inside .list--padded 
.list--default {
  li {
    @include padding(0);
  }
}


// With dividers (Horizontal and Vertical)
.list--dividers,
%list--dividers {

  li {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    @include padding(0.25, top);
    @include padding(0.25, bottom);

    &:last-child {
      border-bottom-width: 0;
    }
  }

  &.list--horizontal {

    li {
      border-bottom-width: 0;
      border-right-width: 1px;
      @include padding(0, top);
      @include padding(0, bottom);
      @include padding(0.25, left);
      @include padding(0.25, right);

      &:first-child {
          @include padding(0, left);
      }

      &:last-child {
          @include padding(0, right);
          border-right-width: 0;
      }
    }
  }
}

%list--icon {
    @extend %list--bare;

    & > li {
        @extend %icon;
        @include padding(0.8, left);
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            line-height: inherit;
            color: color('blue');
        }
    }
}

%list--icon--large {
    & > li {
        @include padding(1, left);

        &:before {
            font-size: $hc-icon-font-size--large;
        }
    }
}

/**
 * Tick list
 *
*/
.list--tick {
    @extend %list--icon;

    & > li {
        @extend .icon--tick;

        &:before {
            color: color('green');
        }
    }
}

.list--tick--large {
    @extend .list--tick;
    @extend %list--icon--large;
}

.list--tick--large > .list--bullet {
    color: red;
}

/**
 * Tick circle list
 *
*/
.list--tick-circle {
    @extend %list--icon;

    & > li {
        @extend .icon--tick-circle;

        &:before {
            color: color('red', 'brand');
        }
    }
}

.list--tick-circle--large {
    @extend %list--icon;
    @extend %list--icon--large;

    & > li {
        @extend .icon--tick-circle;

        &:before {
            color: color('red', 'brand');
        }
    }
}


/**
 * Chevron list
 *
*/
.list--chevron {
    @extend %list--icon;

    & > li {
        @extend .icon--chevron-right;
    }
}

.list--chevron--large {
    @extend .list--chevron;
    @extend %list--icon--large;
}


/**
 * Chevron down list
 *
*/
.list--chevron-down {
    @extend %list--icon;

    & > li {
        @extend .icon--chevron-down;
    }
}

.list--chevron-down--large {
    @extend .list--chevron-down;
    @extend %list--icon--large;
}


/**
 * bullet list
 *
*/
.list--bullet {
    @extend %list--icon;

    & > li {
        @extend .icon--bullet;
    }
}


/**
 * Plus '+' list
 *
*/
.list--plus {
    @extend %list--icon;

    & > li {
        @extend .icon--plus;
    }
}

.list--plus--large {
    @extend .list--plus;
    @extend %list--icon--large;
}


/**
 * Minus '-' list
 *
*/
.list--minus {
    @extend %list--icon;

    & > li {
        @extend .icon--minus;
    }
}

.list--minus--large {
    @extend .list--minus;
    @extend %list--icon--large;
}

