/*------------------------------------*\
    #GENERIC LIST STYLES
\*------------------------------------*/

.ul--square {
  list-style: square;
}

.ul--circle {
  list-style: circle;
}

.ul--disc {
  list-style: disc;
}

.ol--lower-alpha {
  list-style: lower-alpha;
}

.ol--lower-roman {
  list-style: lower-roman;
}

// Vertical
// Normal list?

// Horizontal
.list--horizontal,
%list--horizontal {
  @include margin(0, left);
  list-style: none;

  li {
    display: inline-block;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }
  }
}

// Bare list
.list--bare,
%list--bare {
  @include margin(0);
  @include padding(0);
  list-style: none;
}

.list--padded,
%list--padded {

  li {
    @include padding(0.5);
  }

  &.list--horizontal {

    li {
      @include padding(0);
      @include padding(0.5, left);
      @include padding(0.5, right);

      &:first-child {
          @include padding(0, left);
      }

      &:last-child {
          @include padding(0, right);
      }
    }
  }
}

// Tight list, reduced vertical spacing
.list--tight,
%list--tight {

    li {
        @include margin(0.5, bottom);
    }
}


// With dividers (Horizontal and Vertical)
.list--dividers,
%list--dividers {

  li {
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    @include padding(0.5, top);
    @include padding(0.5, bottom);

    &:last-child {
      border-bottom-width: 0;
    }
  }

  &.list--horizontal {

    li {
      border-bottom-width: 0;
      border-right-width: 1px;
      @include padding(0, top);
      @include padding(0, bottom);
      @include padding(0.5, left);
      @include padding(0.5, right);

      &:first-child {
          @include padding(0, left);
      }

      &:last-child {
          @include padding(0, right);
          border-right-width: 0;
      }
    }
  }
}

/**
 * Tick list
 *
*/
.list--tick {
    @extend %list--bare;

    & > li {
        position: relative;
        @include padding(1.5, left);

        &:before {
            content: "\e625";
            font-family: "Redgate";
            position: absolute;
            left:0;
            font-size: $icon-font-size;
            line-height: 1;
            color: color('green');
        }
    }
}

.list--tick--large > .list--bullet {
    color: red;
}


/**
 * Larger version of the tick list
 *
*/
.list--tick--large {
    @extend .list--tick;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
            color: color('green');
        }
    }
}


/**
 * Chevron list
 *
*/
.list--chevron {
    @extend .list--tick;

    & > li {

        &:before {
            content: "\e607";
            color: color('blue');
        }
    }
}


/**
 * Larger version of the chevron list
 *
*/
.list--chevron--large {
    @extend .list--chevron;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
        }
    }
}


/**
 * Chevron down list
 *
*/
.list--chevron-down {
    @extend .list--chevron;

    & > li {

        &:before {
            content: "\e605";
            color: color('blue');
        }
    }
}


/**
 * Larger version of the chevron list
 *
*/
.list--chevron-down--large {
    @extend .list--chevron-down;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
        }
    }
}


/**
 * bullet list
 *
*/
.list--bullet {
    @extend .list--tick;

    & > li {

        &:before {
            // @include font-size(12px, 2.3);
            content: "\e603";
            color: color('blue');
        }
    }
}


/**
 * Plus '+' list
 *
*/
.list--plus {
    @extend .list--tick;

    & > li {

        &:before {
            content: "\e620";
            color: color('blue');
        }
    }
}

/**
 * Larger version of the plus list
 *
*/
.list--plus--large {
    @extend .list--plus;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
        }
    }
}


/**
 * Minus '-' list
 *
*/
.list--minus {
    @extend .list--tick;

    & > li {

        &:before {
            content: "\e61c";
            color: color('blue');
        }
    }
}

/**
 * Larger version of the minus list
 *
*/
.list--minus--large {
    @extend .list--minus;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
        }
    }
}

/**
 * Star list
 *
*/
.list--star {
    @extend .list--tick;

    & > li {

        &:before {
            content: "\f005";
            color: color('blue');
        }
    }
}

/**
 * Larger version of the star list
 *
*/
.list--star--large {
    @extend .list--star;

    & > li {
        @include padding(2, left);

        &:before {
            font-size: $icon-font-size--large;
        }
    }
}



/**
 * New list
 *
*/
.list--new {
    @extend .list--tick;

    & > li {

      &:before {
          @include font-size(11px);
          @include rounded-circle;
          content: "New";
          color: color('white');
          background-color: color('blue', 4);
          font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
          font-weight: bold;
          width: 28px;
          height: 28px;
          transform: rotate(-12deg);
          padding: 6px 0 0 3px;
          margin: -5px 0 0 -7px;
      }
   }
}

/**
 * Larger version of the new list
 *
*/
.list--new--large {
    @extend .list--new;

    & > li {
        @include padding(1.5, left);

        &:before {
          @include font-size(13px);
          width: 35px;
          height: 35px;
          padding: 7px 0 0 4px;
          margin: -9px 0 0 -7px;
        }
    }
}
