/*------------------------------------*\
    #COLOR SCHEMES
\*------------------------------------*/


/*------------------------------------*\
    #WHITE COLOR SCHEME
\*------------------------------------*/

/**
 * White is the default website background and type color scheme
 * but sometimes you might want to apply it to a component.
 */


@mixin scheme--white {
    background-color: color(white);
   	border-color: color(grey, light);
   	
   	hr {
       	border-color: color(grey, light);
   	}
    
    h1,
    .alpha,
    %alpha {
        color: color(grey, darkest);
    }
    
    .sub-heading {
        color: color(grey, dark);
    }
    
    h2,
    .beta,
    %beta {
        color: color(grey, darkest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(grey, darkest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(grey, darkest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(grey, darkest);
    }
    
    
    h6,
    .zeta,
    %zeta {
    }    
    
    
    p {
        color: color(default-text);
    }
    
    
    a {
		color: color(default-text);
		border-color: color(blue);
	}
    
    a:visited { 
        
    }    
    
    a:focus { 
        
    }
	
	a:active, a:hover {
		color: color(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: color(black);
            border-bottom-color: color(blue, light);
    
        }
    }
}


/*------------------------------------*\
    #LIGHTEST GREY COLOR SCHEME
\*------------------------------------*/

   
 /**
 * This color scheme is the same as the white one 
 * except for the lightest grey background color 
 */
 
 
@mixin scheme--lightest-grey {
    background-color: color(grey, lightest);
    border-color: color(grey, light);

 // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: color(blue);
        color: color(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: color(white);
        background-color: color(blue, dark);
    }
    
    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: color(blue, dark);
        color: color(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}


}





/*------------------------------------*\
    #LIGHTEST BLUE COLOR SCHEME
\*------------------------------------*/

@mixin scheme--lightest-blue {
    background-color: color(blue, lightest);

// @TODO - this colour should be lighter - for example #bad6e7
// This then needs to be set as a daisychained variable in settings.
    border-color: #bad6e7 !important;

// @TODO - sort out this colour variable- as above.
    hr {
       	border-color: #bad6e7 !important;
   	}
   	
   	
    h1,
    .alpha,
    %alpha {
        color: color(blue, darkest);
    }
    
    
    h2,
    .beta,
    %beta {
        color: color(blue, darkest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(blue, darkest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(blue, darkest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(blue, darkest);
    }
    
    
    h6,
    .zeta,
    %zeta {
        color: color(blue, darkest);
    }  
    
   
    p, ul,  ol, dd, label {
        color: color(blue, dark);
    }
    
    
    a {
		color: color(blue, dark);
		border-color: color(blue, light);
	}
    a:visited { 
        
    }    
    a:focus { 
        
    }
	a:active, a:hover {
		color: color(blue);
	}
		

	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        color: color(blue, darkest);
        border-bottom-color: transparent;
        &:hover {
            color: color(black);
            border-bottom-color: color(blue, light);
    
        }
    }
    
    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: color(blue);
        color: color(blue, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: color(white);
        background-color: color(blue, dark);
    }
    
    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: color(blue, dark);
        color: color(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}
	
/*
    aside, .island {
        @include scheme--darkest-grey;
    }
*/
}





/*------------------------------------*\
    #DARKEST GREY COLOR SCHEME
\*------------------------------------*/

@mixin scheme--darkest-grey {
    background-color: color(grey, darkest);
   	border-color: color(grey, dark);

    // smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
   	   	border-color: color(grey, dark);
    }
   	
    h1,
    .alpha,
    .main-heading,
    %alpha {
        color: color(white);
    }
    
    
    h2,
    .beta,
    .sub-heading,
    %beta {
        color: color(grey, lightest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(grey, lightest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(grey, lightest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(grey, lightest);
    }
    
    
    h6,
    .zeta,
    %zeta {
        color: color(grey, lightest);
    }  

  
    p, ul,  ol, dd, label {
        color: color(grey, light);
    }
    
    
    a {
		color: color(grey, lightest);
		border-color: color(blue);
	}
    a:visited { 
        
    }    
    a:focus { 
        
    }
	a:active, a:hover {
		color: color(blue, light);
	}


	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: color(white);
            border-bottom-color: color(blue, light);
    
        }
    }
    
    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: color(near-black);
        color: color(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: color(white);
        background-color: color(black);
    }
    
    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: color(black);
        color: color(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}



/*
    aside, .island {
        @include scheme--darkest-blue;
    }
*/

}





/*------------------------------------*\
    #DARKEST BLUE COLOR SCHEME
\*------------------------------------*/

@mixin scheme--darkest-blue {
    background-color: color(blue, darkest);
    border-color: color(grey, dark);
   	
   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: color(grey, dark);
   	}
   	
   	
    h1,
    .alpha,
    %alpha {
        color: color(grey, lightest);
    }
    
    
    h2,
    .beta,
    %beta {
        color: color(grey, lightest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(grey, lightest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(grey, lightest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(grey, lightest);
    }
    
    
    h6,
    .zeta,
    %zeta {
    }  
    
   
    p, ul,  ol, dd, label {
        color: color(grey, light);
    }
    
    
    a {
		color: color(grey, lightest);
		border-color: color(blue);
	}
    a:visited { 
        
    }    
    a:focus { 
        
    }
	a:active, a:hover {
		color: color(blue, light);
	}
	

	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: color(white);
            border-bottom-color: color(blue, light);
    
        }
    }
    
    // Lozenge style tabbed navigation
    .lozenge-nav a {
        background-color: color(near-black);
        color: color(grey, lightest);
    	-webkit-font-smoothing: antialiased;
    }
    .lozenge-nav a:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-hover
        color: color(white);
        background-color: color(black);
    }
    
    .lozenge-nav a.active, .lozenge-nav a.active:hover {
        // @TODO - make this a variable $lozenge-nav__tab-background-color-active
        background-color: color(black);
        color: color(white);
    }

    // Pagination style navigation
    .pagination {
    	-webkit-font-smoothing: antialiased;
	}
    
/*
    aside, .island {
        @include scheme--black;
    }
*/
}





/*------------------------------------*\
    #NEAR BLACK COLOR SCHEME
\*------------------------------------*/

@mixin scheme--near-black {
    background-color: color(near-black);
    border-color: color(grey);
   	
   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: color(grey);
   	}
   	

    h1,
    .alpha,
    %alpha {
        color: color(grey, lightest);
    }
    
    
    h2,
    .beta,
    %beta {
        color: color(grey, lightest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(grey, lightest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(grey, lightest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(grey, lightest);
    }
    
    
    h6,
    .zeta,
    %zeta {
        color: color(grey, lightest);
    }  
    
    
    p, ul,  ol, dd, label {
        color: color(grey, light);
    }
    
    
    a {
		color: color(grey, lightest);
		border-color: color(blue);
	}
    a:visited { 
        
    }    
    a:focus { 
        
    }
	a:active, a:hover {
		color: color(blue, light);
	}	

	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: color(white);
            border-bottom-color: color(blue, light);
    
        }
    }
    
/*
    aside, .island {
        @include scheme--darkest-grey;
    }
*/
}





/*------------------------------------*\
    #BLACK COLOR SCHEME
\*------------------------------------*/

@mixin scheme--black {
    background-color: color(black);
    border-color: color(grey, darkest);
   	
   	// smooth fonts for high contrast of light text on dark background
	-webkit-font-smoothing: antialiased;

    hr {
       	border-color: color(grey, darkest);
   	}


    h1,
    .alpha,
    %alpha {
        color: color(grey, lightest);
    }
    
    
    h2,
    .beta,
    %beta {
        color: color(grey, lightest);
    }
    
    
    h3,
    .gamma,
    %gamma {
        color: color(grey, lightest);
    }
    
    
    h4,
    .delta,
    %delta {
        color: color(grey, lightest);
    }
    
    
    h5,
    .epsilon,
    %epsilon {
        color: color(grey, lightest);
    }
    
    
    h6,
    .zeta,
    %zeta {
    }  
    
  
    p, ul,  ol, dd, label {
        color: color(grey, light);
    }
    
    
    a {
		color: color(grey, lightest);
		border-color: color(blue);
	}
    a:visited { 
        
    }    
    a:focus { 
        
    }
	a:active, a:hover {
		color: color(blue, light);
	}
		

	h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    .main-heading a,
    .sub-heading a {
        border-bottom-color: transparent;
        &:hover {
            color: color(white);
            border-bottom-color: color(blue, light);
    
        }
    }
    
/*
    aside, .island {
        @include scheme--darkest-grey;
    }
*/
}








