/*------------------------------------*\
    #PAGE
\*------------------------------------*/


/**
 * min-width rule is to get scrollbars while the project is fixed width at 1000px
 * this is a temporary style to ensure the overflow:hidden rule on the band__inner-container, isn't a problem when resizing the viewport
 *
 */

html {
  font-size: 100%;
  font-family: $font-family;
  line-height: $line-height; 
  background-color: color(default-bg);
  color: color(default-text);
  border-color: color(default-border);
  overflow-y: scroll;
  min-height: 100%;
  min-width: 1000px;
}
