.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
}

iframe.video, iframe.js-background-video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[data-background-video-id] {
    position: relative;
    overflow: hidden;
}

[data-background-video-id] .js-video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

iframe.js-background-video__video {
    z-index: 1; /* Position the background video behind the content */

}

.js-background-video__content {
    position: relative;
    z-index: 2; /* Position the content in front of the background video */
}
