/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
* Standard icons.
*/

%icon {
    &:before {
        font-family: "FontAwesome";
        @include margin(0.25, right);
    }
}

.icon--email {
    @extend %icon;
    &:before {
        content: "\f0e0";
    }
}

.icon--phone {
    @extend %icon;
    &:before {
        content: "\f095";
    }
}

.icon--pdf {
    @extend %icon;
    &:before {
        content: "\f1c1";
    }
}

.icon--external {
    @extend %icon;
    &:before {
        content: "\f08e";
    }
}

.icon--video {
    @extend %icon;
    &:before {
        content: "\f16a";
    }
}

.icon--download {
    @extend %icon;
    &:before {
        content: "\f019";
    }
}

.icon--chevron-down {
    @extend %icon;
    &:before {
        content: "\f078";
    }
}

.icon--chevron-up {
    @extend %icon;
    &:before {
        content: "\f077";
    }
}

.icon--chevron-left {
    @extend %icon;
    &:before {
        content: "\f053";
    }
}

.icon--chevron-right {
    @extend %icon;
    &:before {
        content: "\f054";
    }
}

.icon--plus {
    @extend %icon;
    &:before {
        content: "\f067";
    }
}

.icon--minus {
    @extend %icon;
    &:before {
        content: "\f068";
    }
}

.icon--star {
    @extend %icon;
    &:before {
        content: "\f005";
    }
}

.icon--comments {
    @extend %icon;
    &:before {
        content: "\f0e6";
    }
}

.icon--bullhorn {
    @extend %icon;
    &:before {
        content: "\f0a1";
    }
}

.icon--tick {
    @extend %icon;
    &:before {
        content: "\f00c";
    }
}

.icon--cross {
    @extend %icon;
    &:before {
        content: "\f00d";
    }
}
