/*------------------------------------*\
    #BUTTON STYLES
\*------------------------------------*/

// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button,
%button {
    @include margin(1, bottom);
    @include font-size(12px);
    padding: $button-padding !important;
    background-color: $button-background !important;
    color: $button-color !important;
    border-width: $button-border-width !important;
    border-style: $button-border-style !important;
    border-color: $button-border-color !important;
    border-radius: $button-radius;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:hover {
      background-color: $button-hover-background !important;
      color: $button-hover-color !important;
      border-width: $button-hover-border-width;
      border-style: $button-hover-border-style;
      border-color: $button-hover-border-color;
  }
}

.button--large,
%button--large {
  padding: $button-padding--large;
}

.button--small,
%button--small {
  padding: $button-padding--small;
}

.button--full-width,
%button--full-width {
  display: block;
  text-align: center;
}

.button--inline,
%button--inline {
  display: inline;
}




// Blue buttons.
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--primary,
%button--primary {
    background-color: color(blue, light) !important;
}

// Download button.
// Extends the primary blue button, adding a download icon before the button text
.button--download,
%button--download {
    @extend %button--primary;

    &:before {
        content: "\f019 ";
        font-family: "FontAwesome";
        @include padding(0.5, right);
    }
}

// More button.
// Extends the primary blue button, adding a chevron-right icon after the button text
.button--more,
%button--more {
    @extend %button--primary;

    &:after {
        content: "\f054 ";
        font-family: "FontAwesome";
        @include padding(0.5, left);
    }
}


// Green "buy now" buttons with a shoping cart icon before the button text
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--buy,
%button--buy {
    background-color: color(green) !important;

    &:before {
        content: "\f07a ";
        font-family: "FontAwesome";
        @include padding(0.5, right);
    }
}
