/*------------------------------------*\
    #BACK TO TOP
\*------------------------------------*/

/**
* Styles for back to top link.
*/

.back-to-top {
    opacity: 0;
    
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 2em;
    
    border:none;
    font-weight: bold;
    &:before {
        content: "\f077";
        font-family: "FontAwesome";
        @include margin(0.25, right);
    }   
}

// To make the link appear when the offest value is reached when scrolling down the page.
.back-to-top--active {
    opacity: 1;
    background: red;
}