/*------------------------------------*\
    #BANDS
\*------------------------------------*/

/**
 * a .band is a full-width, stackable band of content with no margin-bottom.
 * The default band has a white background.
 */
.band,
%band {
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
/*   @include scheme--white; */
}

/**
 * .band__inner-wrapper is a content wrapper within .band which is:
 *  1. Centered
 *  2. A class hook for constraining the width of it's contained content
 *  The default band__inner-container has a nice large amount of vertical padding 
 * These rules are to set the width of .band__inner-wrapper at different
 * viewport widths.
 * Media query breakpoint defaults are set in base/settings/_settings.scss
 * and may be overidden and extended in project/settings/_settings.scss.
 */

.band__inner-container,
%band__inner-container {
    margin: auto;
    @include clearfix();  
    // @TODO: media queries
    @include px-rem(width, 1000);

    @include padding(4, top);    
    @include padding(4, bottom);  
}


/**
 * band__inner-container with tighter vertical padding 
 */
.band__inner-container--tight,
%band__inner-container--tight {

    @extend %band__inner-container;
    // @TODO: media queries
    @include px-rem(width, 1000);

    @include padding(2, top);    
    @include padding(2, bottom);    
}


/**
 * band__inner-container with looser vertical padding 
 */
.band__inner-container--loose,
%band__inner-container--loose {

    @extend %band__inner-container;
    // @TODO: media queries
    @include px-rem(width, 1000);

    @include padding(10, top);    
    @include padding(10, bottom);    
}





