/*------------------------------------*\
    #TYPE SETTINGS
\*------------------------------------*/

/**
 * Set global type settings for font-family, line-height and heading sizes.
 */

// $font-size is only used to help calculate a px value for the project's global em unit in base.settings.spacing. We leave the actual base font size for the website at 100%.
$font-size: 16px !default;

$font-family: "Roboto", "Helvetica Neue", Arial, Sans-serif !default;

$line-height: 1.5 !default;





/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

$heading-size-1: 32px !default;
$heading-size-2: 24px !default;
$heading-size-3: 18px !default;
$heading-size-4: 16px !default;
$heading-size-5: 14px !default;
$heading-size-6: 11px !default;

$heading-size-1-font-weight: normal !default;
$heading-size-2-font-weight: bold !default;
$heading-size-3-font-weight: bold !default;
$heading-size-4-font-weight: bold !default;
$heading-size-5-font-weight: bold !default;
$heading-size-6-font-weight: bold !default;
