$hc-progress-radial-bar-color: color("grey", 3) !default;
$hc-progress-radial-fill-color: color("blue", 5) !default;
$hc-progress-radial-circle-size: 86px !default;
$hc-progress-radial-bar-size: 8px !default;
$hc-progress-radial-duration: $hc-progress-duration !default;
$hc-progress-radial-margin-top: $hc-progress-margin-top !default;
$hc-progress-radial-margin-bottom: $hc-progress-margin-bottom !default;
