$hc-progress-bar-height: 24px !default;
$hc-progress-bar-height-large: 32px !default;
$hc-progress-bar-height-small: 18px !default;
$hc-progress-bar-height-x-small: 10px !default;
$hc-progress-bar-duration: $hc-progress-duration !default;
$hc-progress-bar-margin-top: $hc-progress-margin-top !default;
$hc-progress-bar-margin-bottom: $hc-progress-margin-bottom !default;
