$hc-progress-bar-height: 24px !default;
$hc-progress-bar-height-large: 32px !default;
$hc-progress-bar-height-small: 18px !default;
$hc-progress-bar-height-x-small: 10px !default;

$hc-progress-bar-duration: 0.25s !default;
