.comment-counter {
	@include padding(0.25, 'left');
	@include padding(0.25, 'right');
	@include font-size(14px);
	color: color('white');
	background-color: color('red', 'brand');
	font-weight: bold;
}
