.comment-counter {
	@include padding(0.25, 'left');
	@include padding(0.25, 'right');
	position: relative;
	color: color('white');
	background-color: color('red', 'brand');
	font-weight: bold;
	font-size: 0.9em;

	/* speech bubble tail */
	&:before {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
		border-color: transparent;
		border-left-color: color('red', 'brand');
		border-width: 0.8em 0 0.9em 1em;
		border-style: solid;
	}
}