.comment-counter {
	@include padding(0.25, 'left');
	@include padding(0.25, 'right');
	@include font-size(12px);
	position: relative;
	color: color('white');
	background-color: color('red', 'brand');
	font-weight: bold;

	/* speech bubble tail */
	&:before {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
		border-color: transparent;
		border-left-color: color('red', 'brand');
		border-width: 10px 0 12px 13px;
		border-style: solid;
	}
}