/*------------------------------------*\
    #TYPE SETTINGS
\*------------------------------------*/

/**
 * Set global type settings for font-family, line-height and heading sizes.
 */

$hc-font-size: 16px !default;
@if $hc-mode == app {
    $hc-font-size: 14px;
}

$hc-font-family: "Roboto", "Helvetica Neue", Arial, Sans-serif !default;

$hc-line-height: $hc-font-size+10 !default;
@if $hc-mode == app {
    $hc-line-height: $hc-font-size+8;
}

// Font directory, relative to the src CSS.
$hc-font-dir: "type/vendor/" !default;


/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

$hc-heading-size-1: 36px !default;
@if $hc-mode == app {
    $hc-heading-size-1: 24px;
}

$hc-heading-size-2: 24px !default;
@if $hc-mode == app {
    $hc-heading-size-2: 20px;
}

$hc-heading-size-3: 18px !default;
@if $hc-mode == app {
    $hc-heading-size-3: 16px;
}

$hc-heading-size-4: 16px !default;
@if $hc-mode == app {
    $hc-heading-size-4: 14px;
}

$hc-heading-size-5: 14px !default;
@if $hc-mode == app {
    $hc-heading-size-5: 12px;
}

$hc-heading-size-6: 12px !default;
@if $hc-mode == app {
    $hc-heading-size-6: 10px;
}

$hc-heading-size-1-small: 30px !default;
$hc-heading-size-2-small: 22px !default;

$hc-heading-size-1-font-weight: 500 !default;
$hc-heading-size-2-font-weight: 500 !default;
$hc-heading-size-3-font-weight: 500 !default;
$hc-heading-size-4-font-weight: 500 !default;
$hc-heading-size-5-font-weight: 500 !default;
$hc-heading-size-6-font-weight: 500 !default;

$hc-heading-size-1-margin-top: 0 !default;
$hc-heading-size-2-margin-top: 0 !default;
$hc-heading-size-3-margin-top: 0 !default;
$hc-heading-size-4-margin-top: 0 !default;
$hc-heading-size-5-margin-top: 0 !default;

$hc-heading-size-1-margin-bottom: 10px !default;
$hc-heading-size-2-margin-bottom: 10px !default;
$hc-heading-size-3-margin-bottom: 10px !default;
$hc-heading-size-4-margin-bottom: 10px !default;
$hc-heading-size-5-margin-bottom: 10px !default;

