@use 'sass:math';

/*------------------------------------*\
    #GRID SETTINGS
\*------------------------------------*/

/**
 * Set global grid settings -
 *  - enable/disable grid classes,
 *  - set grid classname,
 *  - set number of columns to generate and make available for layout,
 *  - set the target gutter size based on the container width,
 *  - set the grid gutter as a percentage (auto calculated).
 */

$hc-enable-grid-classes: true !default;
$hc-grid-class: "grid" !default;
$hc-grid-cols: (10, 12) !default;
$hc-grid-target-gutter: 0px !default;
$hc-grid-gutter: math.div($hc-grid-target-gutter, $hc-container-width) * 100% !default;
