/*------------------------------------*\
    #GRID SETTINGS
\*------------------------------------*/

/**
 * Set global grid settings -
 *  - enable/disable grid classes,
 *  - set grid classname,
 *  - set number of columns to generate and make available for layout,
 *  - set the grid gutter as a percentage.
 */

$enable-grid-classes: true !default;
$grid-class: "grid" !default;
$grid-cols: (12) !default;
$grid-gutter: 1.6 !default;
