/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/



/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Common heading variations.
 */


// @TODO: review this style
.text--micro {
  font-weight: bold;
  text-transform: uppercase;
  @include px-rem(letter-spacing, 1);
  @include font-size(11px);
}






/*------------------------------------*\
    #DISPLAY FONTS
\*------------------------------------*/

/* Display fonts. Super large font sizes. Use with .text--normal for some nice big display fonts for pull quotes and ting.  */
.text--biggest {
	@include font-size(80px, 88px);
}

.text--bigger {
	@include font-size(56px, 64px);
}
.text--big {
	@include font-size(44px, 52px);
}
