/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/



/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Common heading variations.
 */


// @TODO: review this style
.text--micro {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include font-size(11px);
}


.text--intro {
  font-weight: 300;
  @include font-size(20px);
}

.text--body-small {
  @include font-size(14px);
}

.text--body-large {
  @include font-size(18px);
}


/*------------------------------------*\
    #DISPLAY FONTS
\*------------------------------------*/

h1,
.alpha,
%alpha,
.main-heading {
    &.h1--large {
        @include font-size(40px);
    }
}

/* Display fonts. Super large font sizes. Use with .text--normal for some nice big display fonts for pull quotes and ting.  */
.text--biggest {
  @include font-size(80px, 88px);
}

.text--bigger {
  @include font-size(56px, 64px);
}
.text--big {
  @include font-size(44px, 52px);
}

/*------------------------------------*\
    #HIGHLIGHT
\*------------------------------------*/

.text--highlight {
  @include padding(0.5, 'left');
  border-left: 5px solid color('red', 'brand');

  &--grey {
    @extend .text--highlight;
    border-color: color('grey', 3);
  }
}
