/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/



/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Common heading variations.
 */


// @TODO: review this style
.text--micro {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include font-size(11px);
}


.text--intro {
  font-weight: 300;
  @include font-size(20px);
}

.text--body-small {
  @include font-size(14px);
}

.text--body-large {
  @include font-size(18px);
}


/*------------------------------------*\
    #DISPLAY FONTS
\*------------------------------------*/

h1,
.alpha,
%alpha,
.main-heading {
    &.h1--large {
        @include font-size(40px);

        @include responsive('small') {
          @include font-size(32px);
        }
    }
}

/* Display fonts. Super large font sizes. Use with .text--normal for some nice big display fonts for pull quotes and ting.  */
.text--biggest {
  @include font-size(80px, 88px);
  
  @include responsive('small') {
    @include font-size(60px, 66px);
  }
}

.text--bigger {
  @include font-size(56px, 64px);
  
  @include responsive('small') {
    @include font-size(42px, 48px);
  }
}
.text--big {
  @include font-size(44px, 52px);
  
  @include responsive('small') {
    @include font-size(33px, 39px);
  }
}

/*------------------------------------*\
    #HIGHLIGHT
\*------------------------------------*/

.text--highlight {
  @include padding(0.5, 'left');
  border-left: 5px solid color('red', 'brand');

  &--grey {
    @extend .text--highlight;
    border-color: color('grey', 3);
  }

  &--blue {
    @extend .text--highlight;
    border-color: color('blue', 3);
  }
}


/*------------------------------------*\
    #SEPARATOR
\*------------------------------------*/
.text--separator {
    @include font-size(12px);
    @include margin(1, "top");
    @include margin(1, "bottom");
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    &:before, &:after {
        content: " ";
        display: inline-block;
        width: 35%;
        vertical-align: middle;
        border-bottom: 1px dashed color("grey", 4);
        margin-left: -55%;
        margin-right: 1em;
    }

    &:after {
        margin-left: 1em;
        margin-right: -55%;
    }
}
