// Font directory, relative to the src CSS.
$icon-font-dir: "icons/vendor/redgate/" !default;

// Font version, for cachebusting.
$icon-font-version: "1.1" !default;

// Font sizes for the icons.
$icon-font-size: 125%;
$icon-font-size--large: 175%;
