// Font directory, relative to the src CSS.
$hc-icon-font-dir: "icons/vendor/redgate/" !default;

// Font version, for cachebusting.
$hc-icon-font-version: "1.37" !default;

// Font sizes for the icons.
$hc-icon-font-size: 125% !default;
$hc-icon-font-size--large: 175% !default;

$hc-icon-margin: 0 !default;

// Icon alignment.
$hc-icon-vertical-alignment: bottom !default;