/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
  background-color: $hc-default-bg-color;
  color: $hc-default-text-color;
  border-color: $hc-default-border-color;
}
