/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
  background-color: $default-bg-color;
  color: $default-text-color;
  border-color: $default-border-color;
}
