/*------------------------------------*\
    #BLOCKQUOTE
\*------------------------------------*/

blockquote {
    text-align: center;
    -webkit-font-smoothing: antialiased;

    p {
        @include font-size(24px);
        color: color("red");
        font-weight: bold;
    }

    img {
        display: block;
        float: none;
        margin: auto;
        @include margin(0.5, "bottom");
    }

    footer {
        p {
            font-weight: normal;
            font-size: inherit;
            line-height: inherit;
        }
    }

    cite {
        @include margin(0.5, "bottom");
        display: block;
        font-style: normal;
    }

    &.blockquote--small {
        p {
            @include font-size(18px);
        }
    }

    &.blockquote--large {
        p {
            @include font-size(36px);
        }
    }

    &.blockquote--small,
    &.blockquote--large {
        footer p {
            font-size: inherit;
            line-height: inherit;
        }
    }
}

/*------------------------------------*\
    #BLOCKQUOTE WITH A HEADSHOT
\*------------------------------------*/

.blockquote--headshot {
    @extend .blockquote--small;

    float: left;
    width: 100%;
    clear: both;
    position: relative;

    p {
        float: left;
        clear: left;
        max-width: 60%;
        text-align: left;
    }

    .blockquote--headshot__headshot {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 34%;
    }

    cite {
        float: left;
        clear: both;
    }
}
