/*------------------------------------*\
    #INLINE
\*------------------------------------*/

/**
 * Inline styles for raw unclassed HTML elements.
 */


mark {
    // @TODO: Do we want default colours for this object? If so, add to _settings.scss
    // background-color: $post-it-yellow !default;
    // color: $black !default;
    font-style: italic;
    font-weight: bold;
}


pre {
  // www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
  white-space: pre; // CSS2
  white-space: pre-wrap; // CSS 2.1
  word-wrap: break-word; // IE

  code {
    @include padding(0.5);
    display: block;
    overflow: auto;
    white-space: pre;
  }
}

hr {
  clear: both;
  border-top: 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  min-height: 0;
  height: 1px;
  border-style: solid;
  &.dashed {
    border-style: dashed;
  }
  &.dotted{
    border-style: dotted;
  }
}
