/*------------------------------------*\
    #INLINE
\*------------------------------------*/

/**
 * Inline styles for raw unclassed HTML elements.
 */


mark {
    // @TODO: Do we want default colours for this object? If so, add to _settings.scss
    // background-color: $post-it-yellow !default;
    // color: $black !default;
    font-style: italic;
    font-weight: bold;
}


pre {
  // www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
  white-space: pre; // CSS2
  white-space: pre-wrap; // CSS 2.1
  white-space: pre-line; // CSS 3 and 2.1
  word-wrap: break-word; // IE
}


hr {
  clear: both;
  border-top: 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  min-height: 0;
  height: 1px;
  // @TODO change to an HR colour variable
  border-color: color('grey', 3);
  border-style: solid;
  &.dashed {
    border-style: dashed;
  }
  &.dotted{
    border-style: dotted;
  }
}


em {
    font-weight: bold;
    font-style: normal;
/*     font-style: italic; */
}
