/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Basic styles for raw unclassed lists.
 */

ul, ol {
  @include margin(0.5, left);
}

li, dd {
  @include margin(0.5, bottom);
}


dl { }
dt {
  @include margin(0.25, bottom);
  font-weight: bold;
}
dd { }

ul ul,
ul ol,
ul dl,
ol ul,
ol ol,
ol dl,
dl ul,
dl ol,
dl dl {
  @include margin(0.5, top);
}

// Remove extra vertical spacing when nesting lists.
li {

  > ul,
  > ol {
    @include margin(0, top);
    @include margin(0, bottom);
  }

  // hide empty paragraphs created by wpautop in nested lists
  p:empty {
    display: none;
  }

}
