/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

img {
    max-width: 100%;
    height: auto;
    font-style: italic;
    vertical-align: middle;
}

/**
* Google Maps breaks if `max-width: 100%` acts upon it; use their selector
* to remove the effects.
*/
.gm-style img {
    max-width: none;
}