@use 'sass:math';

/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html, :root, .hc-root {
  font-size: math.div($hc-font-size, 16px)*100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
