/*------------------------------------*\
    #BURGER
\*------------------------------------*/

/**
 * Styles for burger menu  link.
 * Initially this is just used on the Honeycomb documentation site.
*/

.nav--drawer__open {
    position:fixed; 
    top:0;
    z-index:10;
    color: color(white);
    background-color: color(near-black);
    border: none;
    @extend .padded-v--tight;
    @extend .padded-h--tight;
    &:before {
        display: block;
        content: "\f0c9";
        font-family: "FontAwesome";
    } 
}

