$checkbox-checked-color: color('green');
$checkbox-unchecked-color: color('grey', 5);
$checkbox-background-color: inherit;
$checkbox-height: 30px;
$checkbox-height-small: $checkbox-height / 3 * 2;
$checkbox-font-color: inherit;
$checkbox-duration: .4s;
$checkbox-loading-icon-dir: "base/images/" !default;