$checkbox-checked-color: color('green', 4);
$checkbox-unchecked-color: color('grey', 5);
$checkbox-background-color: inherit;
$checkbox-height: 45px;
$checkbox-height-small: $checkbox-height / 2;
$checkbox-font-color: inherit;
$checkbox-duration: .4s;
$checkbox-loading-icon-dir: "../images/" !default;