/*------------------------------------*\
    #GRID
\*------------------------------------*/


/**
 * Generate the available CSS grid classes for grid, grid__row, grid__col.
 * Build the grid and breakpoint grids.
 */

 @if $enable-grid-classes {
  %#{$grid-class},
  .#{$grid-class} {
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  %#{$grid-class}__row,
  .#{$grid-class}__row {
    @extend %clearfix !optional;
  }

  %#{$grid-class}__col,
  .#{$grid-class}__col {
    display: block;
    float: left;
    margin: 0;
  }





  /**
   * Build the default grid.
   */
  @include buildGrid();





    /**
    * Build the grid at breakpoints.
    */
    $breakpoints: false !default;
    @if $breakpoints {

        @each $breakpoint in $breakpoints {
            $name: nth($breakpoint, 1);
            $minWidth: nth($breakpoint, 2);
            $maxWidth: false;
            $declaration: false;

            $index: index($breakpoints, $breakpoint);
            @if $index == 1 {
                $maxWidth: false;
            } @else {
                $prevBP: nth($breakpoints, ($index - 1));
                $maxWidth: nth($prevBP, 2) - 1;
            }

            @if($maxWidth) {
                $declaration: "(min-width: #{$minWidth}) and (max-width: #{$maxWidth})";
            } @else {
                $declaration: "(min-width: #{$minWidth})";
            }

            @media only screen and #{$declaration} {
                @include buildGrid("--#{$name}");
            }
        }
    }
}
