/*------------------------------------*\
#GRID
\*------------------------------------*/


/**
* Generate the available CSS grid classes for grid, grid__row, grid__col.
* Build the grid and breakpoint grids.
*/

@if $enable-grid-classes {
    %#{$grid-class},
    .#{$grid-class} {
        &:before, &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    %#{$grid-class}__row,
    .#{$grid-class}__row {
        @extend %clearfix !optional;
    }

    %#{$grid-class}__col,
    .#{$grid-class}__col {
        display: block;
        float: left;
        padding-left: $grid-gutter * 1%;
        padding-right: $grid-gutter * 1%;

        &.#{$grid-class}__col--no-gutter {
            padding-left: 0;
            padding-right: 0;
        }

        &.#{$grid-class}__col--no-left-gutter {
            padding-left: 0;
        }

        &.#{$grid-class}__col--no-right-gutter {
            padding-right: 0;
        }
    }

    @include responsive('small') {
        %#{$grid-class} %#{$grid-class}__col,
        .#{$grid-class} .#{$grid-class}__col {
            width: 100%;
            border: none;
        }
    }

    /**
    * Build the default grid.
    */
    @include buildGrid($grid-gutter);

    /**
    * Build the grid at breakpoints.
    */
    /** @TODO Needs work. Need to think about this not on a Friday afternoon! */
    $breakpoints: false !default;
    @if $breakpoints {
        @each $breakpoint in $breakpoints {
            $name: nth($breakpoint, 1);
            $minWidth: nth($breakpoint, 2);
            $maxWidth: false;
            $declaration: false;

            $index: index($breakpoints, $breakpoint);
            @if $index == 1 {
                $maxWidth: false;
            } @else {
                $prevBP: nth($breakpoints, ($index - 1));
                $maxWidth: nth($prevBP, 2) - 1;
            }

            @if($maxWidth) {
                $declaration: "(min-width: #{$minWidth}) and (max-width: #{$maxWidth})";
            } @else {
                $declaration: "(min-width: #{$minWidth})";
            }

            @media only screen and #{$declaration} {
                @include buildGrid($grid-gutter, "--#{$name}");
            }
        }
    }
}
