/*------------------------------------*\
#GRID
\*------------------------------------*/


/**
* Generate the available CSS grid classes for grid, grid__row, grid__col.
* Build the grid and breakpoint grids.
*/

@if $hc-enable-grid-classes {
    %#{$hc-grid-class},
    .#{$hc-grid-class} {
        &:before, &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    %#{$hc-grid-class}__row,
    .#{$hc-grid-class}__row {
        @extend %clearfix !optional;

        &.#{$hc-grid-class}__row--no-gutter {
            .#{$hc-grid-class}__col {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    %#{$hc-grid-class}__col,
    .#{$hc-grid-class}__col {
        display: block;
        float: left;
        padding-left: $hc-grid-gutter;
        padding-right: $hc-grid-gutter;

        &.#{$hc-grid-class}__col--no-gutter {
            padding-left: 0;
            padding-right: 0;
        }

        &.#{$hc-grid-class}__col--no-left-gutter {
            padding-left: 0;
        }

        &.#{$hc-grid-class}__col--no-right-gutter {
            padding-right: 0;
        }
    }

    @include responsive('small') {
        %#{$hc-grid-class} %#{$hc-grid-class}__col,
        .#{$hc-grid-class} .#{$hc-grid-class}__col {
            width: 100%;
            border: none;
        }
    }

    /**
    * Build the default grid.
    */
    @include buildGrid($hc-grid-gutter);

    /**
    * Build the grid at breakpoints, using Desktop first approach, like the
    * responsive mixin in the base module.
    */
    @if $hc-responsive {
        $hc-breakpoints: false !default;
        @if $hc-breakpoints {
            @each $breakpoint in $hc-breakpoints {
                $name: nth($breakpoint, 1);
                $width: nth($breakpoint, 2);
                $declaration: "(#{$hc-mqProperty} #{$width})";

                @media only screen and #{$declaration} {
                    @include buildGrid($hc-grid-gutter, "--#{$name}");
                }
            }
        }
    }
}
