$hc-label-font-size: 14px !default;
$hc-label-font-size--small: 12px !default;
$hc-label-border-radius: 100px !default;
$hc-label-padding: 0 12px !default;
$hc-label-padding--small: 3px 8px !default;

$hc-label-counter-size: 18px !default;
$hc-label-counter-size--small: 12px !default;
$hc-label-counter-font-size: 12px !default;
$hc-label-counter-font-size--small: 8px !default;
$hc-label-counter-left-margin: -8px !default;
$hc-label-counter-left-margin--small: -5px !default;
$hc-label-counter-right-margin: 1px !default;

$hc-label-dismiss-font-size: 16px !default;
$hc-label-dismiss-font-size--small: 14px !default;
$hc-label-dismiss-color: inherit !default;