$hc-label-file-font-size: 16px !default;
$hc-label-file-icon-font-size: 19px !default;
$hc-label-file-icon-font-size--large: 20px !default;
$hc-label-file-icon-font-size--small: 16px !default;
$hc-label-file-background-color: color('blue', 1) !default;
$hc-label-file-text-color: color('blue', 7) !default;
$hc-label-border-radius: 4px !default;
$hc-label-padding-horizontal: 10px !default;
$hc-label-padding-vertical: 5px !default;
$hc-label-padding-horizontal--small: $hc-label-padding-horizontal !default;
$hc-label-padding-vertical--small: 2px !default;
$hc-label-padding-horizontal--large: $hc-label-padding-horizontal !default;
$hc-label-padding-vertical--large: 9px !default;
$hc-label-dismiss-font-size: 16px !default;
$hc-label-dismiss-font-size--small: 14px !default;