@include buildDisplayRule();

@if $hc-responsive {
    $hc-breakpoints: false !default;
    @if $hc-breakpoints {
        @each $breakpoint in $hc-breakpoints {
            $name: nth($breakpoint, 1);
            $width: nth($breakpoint, 2);
            $declaration: "(#{$hc-mqProperty} #{$width})";

            @media #{$declaration} {
                @include buildDisplayRule("--#{$name}");
            }
        }
    }
}