.display--inline {
    display: inline !important;
    display: inline-block !important;
    width: auto !important;
}

.display--block {
    display: block !important;
}

.display--table {
	display: table !important;
}