/*------------------------------------*\
 #MARGIN
\*------------------------------------*/


/**
 * Margin options, for things like grid columns and rows, etc.
 * For example, <div class="grid__row col-spaced-v">, gives a grid row 'standard' vertical margin.
 */

@include buildMargin("", true);

/**
 * Build the margin classes at breakpoints, using Desktop first approach, like the
 * responsive mixin in the base module.
 */
@if $hc-responsive {
    $hc-breakpoints: false !default;
    @if $hc-breakpoints {
        @each $breakpoint in $hc-breakpoints {
            $name: nth($breakpoint, 1);
            $width: nth($breakpoint, 2);
            $declaration: "(#{$hc-mqProperty} #{$width})";

            @media only screen and #{$declaration} {
                @include buildMargin("--#{$name}", true);
            }
        }
    }
}