// TODO add any extra documentation and an example

// Mixin for adding margins to objects/components
@mixin margin($scale: 1, $direction: all, $important: false) {

  $margin: inherit;
  $property: margin;
  $flag: null;

  @if index($hc-margin-whitelist, $scale) {
    $margin: round($hc-spacing-unit * $scale);
  } @else {
    @error "Scale '#{$scale}' is not a valid value for `margin`.";
    $margin: false;
  }

  // Determine the direction.
  @if $direction == "all" {
    $property: margin;
  } @else {
    $property: margin-#{$direction};
  }

  // Important flag.
  @if $important {
      $flag: !important;
  }

  // Print the rule.
  @if $margin {
    #{$property}: $margin $flag;
    #{$property}: px-rem($margin) $flag;
  }
}