@use 'sass:math';

/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html, :root, .hc-root {
  font-family: $hc-font-family;
  font-size: math.div($hc-font-size, 16px)*100%;
  line-height: $hc-line-height;
  word-break: break-word;
}
