/* Redgate type */
@font-face {
    font-family: 'redgate-type';
    src: url('#{$hc-font-dir}redgate-type/redgate-type-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Roboto */
// @import 'honeycomb.type.raw.roboto';

/* Roboto Slab */
@import 'honeycomb.type.raw.roboto-slab';

/* Roboto Condensed */
// @import 'honeycomb.type.raw.roboto-condensed';