/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Basic styles for raw unclassed headings.
 */


// @TODO: http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ ????

h1,
.alpha,
%alpha,
.main-heading  {
    @include font-size($heading-size-1);
    font-weight: $heading-size-1-font-weight;
    color: color(grey, darkest);
}


h2,
.beta,
%beta {
    @include font-size($heading-size-2);
    font-weight: $heading-size-2-font-weight;
    color: color(grey, darkest);
}


h3,
.gamma,
%gamma {
    @include font-size($heading-size-3);
    font-weight: $heading-size-3-font-weight;
    color: color(grey, darkest);
}


h4,
.delta,
%delta {
    @include font-size($heading-size-4);
    font-weight: $heading-size-4-font-weight;
    color: color(grey, darkest);
}


h5,
.epsilon,
%epsilon {
    @include font-size($heading-size-5);
    font-weight: $heading-size-5-font-weight;
    color: color(grey, darkest);
}


h6,
.zeta,
%zeta {
    @include font-size($heading-size-6);
    font-weight: $heading-size-6-font-weight;
    color: color(grey, darkest);
    text-transform: uppercase;
    @include px-rem(letter-spacing, 1);
}



/**
 * Heading and subheading styles
 * for when you want to mark up something to look like a heading.
 */

.sub-heading {
    @include font-size(24px);
    color: color(grey, dark);
}

/* reduce subheading following an h2 */
h2 + .sub-heading {
    @include font-size(20px);
}

/* reduce subheading following an h3 */
h3 + .sub-heading {
    @include font-size(18px);
}
