/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* Redgate type */
@font-face {
    font-family: 'redgate-type';
    src: url('#{$hc-font-dir}redgate-type/redgate-type-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
