/* Thin */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_thin/Roboto-Thin-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_light/Roboto-Light-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'roboto';
    src: url('#{$font-dir}roboto/roboto_black/Roboto-Black-webfont.eot');
    src: url('#{$font-dir}roboto/roboto_black/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-dir}roboto/roboto_black/Roboto-Black-webfont.woff') format('woff'),
         url('#{$font-dir}roboto/roboto_black/Roboto-Black-webfont.ttf') format('truetype'),
         url('#{$font-dir}roboto/roboto_black/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Redgate type */
@font-face {
    font-family: 'redgate-type';
    src: url('#{$font-dir}redgate-type-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
