.label {
	@include padding(0.25, 'left');
	@include padding(0.25, 'right');
	@include margin(0.25, 'right');
	@include font-size(12px);
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
}

.label-list {
	@include margin(0, 'left');
}
