.label--file {
    @include font-size($hc-label-file-font-size);
    padding: $hc-label-padding-vertical $hc-label-padding-horizontal;
    background-color: $hc-label-file-background-color;
    border-radius: $hc-label-border-radius;
    text-transform: none;
    color: $hc-label-file-text-color;
    font-weight: normal;

    &:before {
        content: '\e60e';
        @include font-size($hc-label-file-icon-font-size, false);
        @include margin(0.1, 'right');
        font-family: 'Redgate';
        position: relative;
        top: 2px;
    }

    &__dismiss {
        @include font-size($hc-label-dismiss-font-size, false);
        @include margin(0.5, 'left');

        &:before {
            font-family: 'Redgate';
            content: '\e60a';
        }
    }

    &--large {
        padding: $hc-label-padding-vertical--large $hc-label-padding-horizontal--large;

        &:before {
            @include font-size($hc-label-file-icon-font-size--large, false);
        }
    }

    &--small {
        padding: $hc-label-padding-vertical--small $hc-label-padding-horizontal--small;

        &:before {
            @include font-size($hc-label-file-icon-font-size--small, false);
        }

        .label--file__dismiss:before {
            @include font-size($hc-label-dismiss-font-size--small, false);
        }
    }
}