.slick-prev,
.slick-next {
    top: 40%;
    z-index: 1;

    &:before {
        @include font-size(36px);
    }
}

.slick-prev {
    left: $carousel-dir-offset;
    [dir="rtl"] & {
        right: $carousel-dir-offset;
    }
}

.slick-next {
    right: $carousel-dir-offset;
    [dir="rtl"] & {
        left: $carousel-dir-offset;
    }
}
