.js-carousel {
    // reveal with JS
    // using height and visibility instead of display:none, because slick sets the width of child elements based on the width of .js-carousel
    visibility: hidden;
    height: 0px;
}

.slick-slider {
    margin-bottom: 60px;
}

/* vertically center slides, for when they have varying heights */
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}


/* Navigation arrows */
.slick-prev,
.slick-next {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;

    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        transform: rotate(45deg);
        border: 3px solid color('red', 4);
        border-radius: 1px;
    }
}

.slick-prev {
    transform: translate(-10px, 0px);
    left: 0;

    &:before {
        border-top: transparent;
        border-right: transparent;
    }
}

.slick-next {
    transform: translate(10px, 0px);
    right: 0;

    &:before {
        border-bottom: transparent;
        border-left: transparent;
    }
}


/* Navigation dots */
.slick-dots {
    bottom: -60px;
    right: -50px;

    li {
        vertical-align: middle;

       &.slick-active button::before {
            color: color('red', 4);
        }

        button::before {
            color: color('grey', 5);
        }
    }
}
