/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Basic styles for raw unclassed links.
 */

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: $link-color;
}

a:visited { }

a:focus { }

a:active, a:hover {
    color: $link-hover-color;
}


/**
 * Basic styles linked headings.
 */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
.main-heading a,
.sub-heading a {
    color: color('grey', 7);

    &:hover {
        color: color('black');
        opacity: 0.5;
    }
    &.color--blue:hover {
        color: $link-hover-color;
        opacity: 1;
    }
}
