/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
* Standard icons.
*/

%icon {
    &:before {
        font-family: "FontAwesome";
        @include margin(0.25, right);
    }
}

.icon--email {
    @extend %icon;
    &:before {
        content: "\f0e0";
    }
}

.icon--phone {
    @extend %icon;
    &:before {
        content: "\f095";
    }
}

.icon--pdf {
    @extend %icon;
    &:before {
        content: "\f1c1";
    }
}

.icon--external {
    @extend %icon;
    &:before {
        content: "\f08e";
    }
}

.icon--video {
    @extend %icon;
    &:before {
        content: "\f16a";
    }
}

.icon--download {
    @extend %icon;
    &:before {
        content: "\f019";
    }
}

.icon--chevron-down {
    @extend %icon;
    &:before {
        content: "\f078";
    }
}

.icon--chevron-up {
    @extend %icon;
    &:before {
        content: "\f077";
    }
}

.icon--chevron-left {
    @extend %icon;
    &:before {
        content: "\f053";
    }
}

.icon--chevron-right {
    @extend %icon;
    &:before {
        content: "\f054";
    }
}

.icon--plus {
    @extend %icon;
    &:before {
        content: "\f067";
    }
}

.icon--plus-circle {
    @extend %icon;
    &:before {
        content: "\f055";
    }
}

.icon--minus {
    @extend %icon;
    &:before {
        content: "\f068";
    }
}

.icon--star {
    @extend %icon;
    &:before {
        content: "\f005";
    }
}

.icon--comments {
    @extend %icon;
    &:before {
        content: "\f0e6";
    }
}

.icon--bullhorn {
    @extend %icon;
    &:before {
        content: "\f0a1";
    }
}

.icon--tick {
    @extend %icon;
    &:before {
        content: "\f00c";
    }
}

.icon--cross {
    @extend %icon;
    &:before {
        content: "\f00d";
    }
}

.icon--success {
    @extend .icon--tick;
}

.icon--fail {
    @extend %icon;
    &:before {
        content: "\f071";
    }
}

.icon--info {
    @extend %icon;
    &:before {
        content: "\f05a";
    }
}

.icon--new {
    @extend %icon;
    &:before {
        @include font-size(13px);
        @include rounded-circle;
        @include padding(0.5, right);
        @include padding(0.5, top);
        @include margin(0.5, top);
        content: "New";
        color: color('white');
        background-color: color('blue', 4);
        font-family: sans-serif;
        font-weight: bold;
        width: 35px;
        height: 35px;
        transform: rotate(-12deg);
        padding: 7px 0 0 4px;
        margin: -9px 0 0 -7px;
    }
}