/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
* Size modifiers.
*/

.icon--2x {
    font-size: 2rem;
}

.icon--3x {
    font-size: 3rem;
}

.icon--4x {
    font-size: 4rem;
}

.icon--5x {
    font-size: 5rem;
}

.icon--6x {
    font-size: 6rem;
}

.icon--7x {
    font-size: 7rem;
}

.icon--8x {
    font-size: 8rem;
}

.icon--9x {
    font-size: 9rem;
}

.icon--10x {
    font-size: 10rem;
}

/**
* Standard icons.
*/

%icon {
    &:before, &:after {
        font-family: "Redgate";
        font-size: $hc-icon-font-size;
        vertical-align: top;
    }

    &:before {
        @include margin($hc-icon-margin, right);
    }

    &:after {
        @include margin($hc-icon-margin, left);
        display: none;
    }

    &.icon--right {

        &:before {
            display: none;
        }

        &:after {
            display: inline;
        }
    }
}

.icon--email {
    @extend %icon;
    &:before, &:after {
        content: "\e611";
    }
}

.icon--phone {
    @extend %icon;
    &:before, &:after {
        content: "\e61d";
    }
}

.icon--pdf {
    @extend %icon;
    &:before, &:after {
        content: "\e60e";
    }
}

.icon--external {
    @extend %icon;
    &:before, &:after {
        content: "\e612";
    }
}

.icon--video {
    @extend %icon;
    &:before, &:after {
        content: "\e628";
    }
}

.icon--download {
    @extend %icon;
    &:before, &:after {
        content: "\e60f";
    }
}

.icon--chevron-down {
    @extend %icon;
    &:before, &:after {
        content: "\e605";
    }
}

.icon--chevron-up {
    @extend %icon;
    &:before, &:after {
        content: "\e608";
    }
}

.icon--chevron-left {
    @extend %icon;
    &:before, &:after {
        content: "\e606";
    }
}

.icon--chevron-right {
    @extend %icon;
    &:before, &:after {
        content: "\e607";
    }
}

.icon--plus {
    @extend %icon;
    &:before, &:after {
        content: "\e620";
    }
}

.icon--plus-circle {
    @extend %icon;
    &:before, &:after {
        content: "\e61f";
    }
}

.icon--minus {
    @extend %icon;
    &:before, &:after {
        content: "\e61c";
    }
}

.icon--comments {
    @extend %icon;
    &:before, &:after {
        content: "\e60b";
    }
}

.icon--tick {
    @extend %icon;
    &:before, &:after {
        content: "\e625";
    }
}

.icon--cross {
    @extend %icon;
    &:before, &:after {
        content: "\e60a";
    }
}

.icon--success {
    @extend .icon--tick;
}

.icon--fail {
    @extend %icon;
    &:before, &:after {
        content: "\e62b";
    }
}

.icon--info {
    @extend %icon;
    &:before, &:after {
        content: "\e619";
    }
}

.icon--calendar {
    @extend %icon;
    &:before, &:after {
        content: "\e604";
    }
}

.icon--settings {
    @extend %icon;
    &:before, &:after {
        content: "\e624";
    }
}

.icon--user {
    @extend %icon;
    &:before, &:after {
        content: "\e626";
    }
}

.icon--users {
    @extend %icon;
    &:before, &:after {
        content: "\e627";
    }
}

.icon--globe {
    @extend %icon;
    &:before, &:after {
        content: "\e616";
    }
}

.icon--arrow-left {
    @extend %icon;
    &:before, &:after {
        content: "\e601";
    }
}

.icon--arrow-right {
    @extend %icon;
    &:before, &:after {
        content: "\e602";
    }
}

.icon--play-circle {
    @extend %icon;
    &:before, &:after {
        content: "\e61e";
    }
}

.icon--warning {
    @extend %icon;
    &:before, &:after {
        content: "\e629";
    }
}

.icon--bullet {
    @extend %icon;
    &:before, &:after {
        content: "\e603";
    }
}

.icon--shopping-cart {
    @extend %icon;
    &:before, &:after {
        content: "\e62a";
    }
}

.icon--server {
    @extend %icon;
    &:before, &:after {
        content: "\e900";
    }
}

.icon--more-actions-horizontal {
    @extend %icon;
    &:before, &:after {
        content: "\e906";
    }
}

.icon--more-actions-vertical {
    @extend %icon;
    &:before, &:after {
        content: "\e907";
    }
}

.icon--alert-silence {
    @extend %icon;
    &:before, &:after {
        content: "\e908";
    }
}

.icon--maintenance {
    @extend %icon;
    &:before, &:after {
        content: "\e909";
    }
}

.icon--print {
    @extend %icon;
    &:before, &:after {
        content: "\e90a";
    }
}

.icon--hide {
    @extend %icon;
    &:before, &:after {
        content: "\e90b";
    }
}

.icon--warning-octagon {
    @extend %icon;
    &:before, &:after {
        content: "\e90c";
    }
}

.icon--tag {
    @extend %icon;
    &:before, &:after {
        content: "\e90d";
    }
}

.icon--flag {
    @extend %icon;
    &:before, &:after {
        content: "\e901";
    }
}

.icon--minimize {
    @extend %icon;
    &:before, &:after {
        content: "\e90e";
    }
}

.icon--expand {
    @extend %icon;
    &:before, &:after {
        content: "\e90f";
    }
}

.icon--import {
    @extend %icon;
    &:before, &:after {
        content: "\e910";
    }
}

.icon--export {
    @extend %icon;
    &:before, &:after {
        content: "\e911";
    }
}

.icon--zoom-in {
    @extend %icon;
    &:before, &:after {
        content: "\e912";
    }
}

.icon--zoom-out {
    @extend %icon;
    &:before, &:after {
        content: "\e913";
    }
}

.icon--show {
    @extend %icon;
    &:before, &:after {
        content: "\e902";
    }
}

.icon--play {
    @extend %icon;
    &:before, &:after {
        content: "\e903";
    }
}

.icon--copydoc {
    @extend %icon;
    &:before, &:after {
        content: "\e904";
    }
}

.icon--dock {
    @extend %icon;
    &:before, &:after {
        content: "\e905";
    }
}

.icon--test-data {
    @extend %icon;
    &:before, &:after {
        content: "\e914";
    }
}

.icon--add-ons {
    @extend %icon;
    &:before, &:after {
        content: "\e800";
    }
}

.icon--pipeline {
    @extend %icon;
    &:before, &:after {
        content: "\e614";
    }
}

.icon--alert {
    @extend %icon;
    &:before, &:after {
        content: "\e600";
    }
}

.icon--clear-cross-circle {
    @extend %icon;
    &:before, &:after {
        content: "\e609";
    }
}

.icon--instance {
    @extend %icon;
    &:before, &:after {
        content: "\e61a";
    }
}

.icon--database {
    @extend %icon;
    &:before, &:after {
        content: "\e60c";
    }
}

.icon--delete {
    @extend %icon;
    &:before, &:after {
        content: "\e60d";
    }
}

.icon--edit {
    @extend %icon;
    &:before, &:after {
        content: "\e610";
    }
}

.icon--filter {
    @extend %icon;
    &:before, &:after {
        content: "\e613";
    }
}

.icon--folder-open {
    @extend %icon;
    &:before, &:after {
        content: "\e62c";
    }
}

.icon--folder {
    @extend %icon;
    &:before, &:after {
        content: "\e615";
    }
}

.icon--history {
    @extend %icon;
    &:before, &:after {
        content: "\e618";
    }
}

.icon--message-tick {
    @extend %icon;
    &:before, &:after {
        content: "\e61b";
    }
}

.icon--refresh {
    @extend %icon;
    &:before, &:after {
        content: "\e621";
    }
}

.icon--save {
    @extend %icon;
    &:before, &:after {
        content: "\e622";
    }
}

.icon--search {
    @extend %icon;
    &:before, &:after {
        content: "\e623";
    }
}

.icon--help-circle {
    @extend %icon;
    &:before, &:after {
        content: "\e617";
    }
}

.icon--approved {
    @extend %icon;
    &:before, &:after {
        content: "\e919";
    }
}
.icon--award {
    @extend %icon;
    &:before, &:after {
        content: "\e918";
    }
}
.icon--clock {
    @extend %icon;
    &:before, &:after {
        content: "\e916";
    }
}
.icon--map_pin {
    @extend %icon;
    &:before, &:after {
        content: "\e915";
    }
}
.icon--rss {
    @extend %icon;
    &:before, &:after {
        content: "\e917";
    }
}
.icon--tick-circle {
    @extend %icon;
    &:before, &:after {
        content: "\e91d";
    }
}
.icon--lightbulb {
    @extend %icon;
    &:before, &:after {
        content: "\e91c";
    }
}
.icon--lock {
    @extend %icon;
    &:before, &:after {
        content: "\e92b";
    }
}
.icon--stop {
    @extend %icon;
    &:before, &:after {
        content: "\e92a";
    }
}
.icon--large-tiles {
    @extend %icon;
    &:before, &:after {
        content: "\e92c";
    }
}
.icon--small-tiles {
    @extend %icon;
    &:before, &:after {
        content: "\e92d";
    }
}
.icon--table-expand-small {
    @extend %icon;
    &:before, &:after {
        content: "\e92e";
    }
}
.icon--table-expand-medium {
    @extend %icon;
    &:before, &:after {
        content: "\e92f";
    }
}
.icon--table-expand-large {
    @extend %icon;
    &:before, &:after {
        content: "\e930";
    }
}
.icon--target {
    @extend %icon;
    &:before, &:after {
        content: "\e931";
    }
}



/**
  * Product icons
  */

.icon--dlm-dashboard {
    @extend %icon;
    &:before, &:after {
        content: "\e91e";
    }
}
.icon--dlm-automation {
    @extend %icon;
    &:before, &:after {
        content: "\e929";
    }
}
.icon--sql-backup {
    @extend %icon;
    &:before, &:after {
        content: "\e928";
    }
}
.icon--sql-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e91b";
    }
}
.icon--sql-comparison-sdk {
    @extend %icon;
    &:before, &:after {
        content: "\e927";
    }
}
.icon--sql-data-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e91f";
    }
}
.icon--data-masker {
    @extend %icon;
    &:before, &:after {
        content: "\e923";
    }
}
.icon--sql-dependency-tracker {
    @extend %icon;
    &:before, &:after {
        content: "\e926";
    }
}
.icon--sql-doc {
    @extend %icon;
    &:before, &:after {
        content: "\e920";
    }
}
.icon--sql-monitor {
    @extend %icon;
    &:before, &:after {
        content: "\e921";
    }
}
.icon--sql-search {
    @extend %icon;
    &:before, &:after {
        content: "\e922";
    }
}
.icon--sql-source-control {
    @extend %icon;
    &:before, &:after {
        content: "\e93a";
    }
}
.icon--sql-test {
    @extend %icon;
    &:before, &:after {
        content: "\e924";
    }
}
.icon--sql-toolbelt {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}
.icon--data-platform-studio {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}
.icon--sql-scripts-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e932";
    }
}
.icon--readyroll {
    @extend %icon;
    &:before, &:after {
        content: "\e933";
    }
}
.icon--sql-multi-script {
    @extend %icon;
    &:before, &:after {
        content: "\e934";
    }
}
.icon--sql-index-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e935";
    }
}
.icon--sql-code-guard {
    @extend %icon;
    &:before, &:after {
        content: "\e936";
    }
}
.icon--sql-clone {
    @extend %icon;
    &:before, &:after {
        content: "\e937";
    }
}
.icon--sql-data-generator {
    @extend %icon;
    &:before, &:after {
        content: "\e938";
    }
}
.icon--sql-prompt {
    @extend %icon;
    &:before, &:after {
        content: "\e939";
    }
}
