/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
* Size modifiers.
*/

.icon--2x {
    font-size: 2rem;
}

.icon--3x {
    font-size: 3rem;
}

.icon--4x {
    font-size: 4rem;
}

.icon--5x {
    font-size: 5rem;
}

.icon--6x {
    font-size: 6rem;
}

.icon--7x {
    font-size: 7rem;
}

.icon--8x {
    font-size: 8rem;
}

.icon--9x {
    font-size: 9rem;
}

.icon--10x {
    font-size: 10rem;
}


/**
* Standard icons.
*/

%icon {
    &:before {
        font-family: "Redgate";
        font-size: $icon-font-size;
        vertical-align: top;
        @include margin(0.25, right);
    }
}

.icon--email {
    @extend %icon;
    &:before {
        content: "\e611";
    }
}

.icon--phone {
    @extend %icon;
    &:before {
        content: "\e61d";
    }
}

.icon--pdf {
    @extend %icon;
    &:before {
        content: "\e60e";
    }
}

.icon--external {
    @extend %icon;
    &:before {
        content: "\e612";
    }
}

.icon--video {
    @extend %icon;
    &:before {
        content: "\e628";
    }
}

.icon--download {
    @extend %icon;
    &:before {
        content: "\e60f";
    }
}

.icon--chevron-down {
    @extend %icon;
    &:before {
        content: "\e605";
    }
}

.icon--chevron-up {
    @extend %icon;
    &:before {
        content: "\e608";
    }
}

.icon--chevron-left {
    @extend %icon;
    &:before {
        content: "\e606";
    }
}

.icon--chevron-right {
    @extend %icon;
    &:before {
        content: "\e607";
    }
}

.icon--plus {
    @extend %icon;
    &:before {
        content: "\e620";
    }
}

.icon--plus-circle {
    @extend %icon;
    &:before {
        content: "\e61f";
    }
}

.icon--minus {
    @extend %icon;
    &:before {
        content: "\e61c";
    }
}

.icon--comments {
    @extend %icon;
    &:before {
        content: "\e60b";
    }
}

.icon--tick {
    @extend %icon;
    &:before {
        content: "\e625";
    }
}

.icon--cross {
    @extend %icon;
    &:before {
        content: "\e60a";
    }
}

.icon--success {
    @extend .icon--tick;
}

.icon--fail {
    @extend %icon;
    &:before {
        content: "\e62b";
    }
}

.icon--info {
    @extend %icon;
    &:before {
        content: "\e619";
    }
}

.icon--calendar {
    @extend %icon;
    &:before {
        content: "\e604";
    }
}

.icon--settings {
    @extend %icon;
    &:before {
        content: "\e624";
    }
}

.icon--user {
    @extend %icon;
    &:before {
        content: "\e626";
    }
}

.icon--users {
    @extend %icon;
    &:before {
        content: "\e627";
    }
}

.icon--globe {
    @extend %icon;
    &:before {
        content: "\e616";
    }
}

.icon--arrow-left {
    @extend %icon;
    &:before {
        content: "\e601";
    }
}

.icon--arrow-right {
    @extend %icon;
    &:before {
        content: "\e602";
    }
}

.icon--play-circle {
    @extend %icon;
    &:before {
        content: "\e61e";
    }
}

.icon--warning {
    @extend %icon;
    &:before {
        content: "\e629";
    }
}

.icon--bullet {
    @extend %icon;
    &:before {
        content: "\e603";
    }
}

.icon--shopping-cart {
    @extend %icon;
    &:before {
        content: "\e62a";
    }
}

.icon--server {
    @extend %icon;
    &:before {
        content: "\e900";
    }
}

.icon--more-actions-horizontal {
    @extend %icon;
    &:before {
        content: "\e906";
    }
}

.icon--more-actions-vertical {
    @extend %icon;
    &:before {
        content: "\e907";
    }
}

.icon--alert-silence {
    @extend %icon;
    &:before {
        content: "\e908";
    }
}

.icon--maintenance {
    @extend %icon;
    &:before {
        content: "\e909";
    }
}

.icon--print {
    @extend %icon;
    &:before {
        content: "\e90a";
    }
}

.icon--hide {
    @extend %icon;
    &:before {
        content: "\e90b";
    }
}

.icon--warning-octagon {
    @extend %icon;
    &:before {
        content: "\e90c";
    }
}

.icon--tag {
    @extend %icon;
    &:before {
        content: "\e90d";
    }
}

.icon--flag {
    @extend %icon;
    &:before {
        content: "\e901";
    }
}

.icon--minimize {
    @extend %icon;
    &:before {
        content: "\e90e";
    }
}

.icon--expand {
    @extend %icon;
    &:before {
        content: "\e90f";
    }
}

.icon--import {
    @extend %icon;
    &:before {
        content: "\e910";
    }
}

.icon--export {
    @extend %icon;
    &:before {
        content: "\e911";
    }
}

.icon--zoom-in {
    @extend %icon;
    &:before {
        content: "\e912";
    }
}

.icon--zoom-out {
    @extend %icon;
    &:before {
        content: "\e913";
    }
}

.icon--show {
    @extend %icon;
    &:before {
        content: "\e902";
    }
}

.icon--play {
    @extend %icon;
    &:before {
        content: "\e903";
    }
}

.icon--copydoc {
    @extend %icon;
    &:before {
        content: "\e904";
    }
}

.icon--dock {
    @extend %icon;
    &:before {
        content: "\e905";
    }
}

.icon--test-data {
    @extend %icon;
    &:before {
        content: "\e914";
    }
}

.icon--add-ons {
    @extend %icon;
    &:before {
        content: "\e800";
    }
}

.icon--pipeline {
    @extend %icon;
    &:before {
        content: "\e614";
    }
}

.icon--alert {
    @extend %icon;
    &:before {
        content: "\e600";
    }
}

.icon--clear-cross-circle {
    @extend %icon;
    &:before {
        content: "\e609";
    }
}

.icon--instance {
    @extend %icon;
    &:before {
        content: "\e61a";
    }
}

.icon--database {
    @extend %icon;
    &:before {
        content: "\e60c";
    }
}

.icon--delete {
    @extend %icon;
    &:before {
        content: "\e60d";
    }
}

.icon--edit {
    @extend %icon;
    &:before {
        content: "\e610";
    }
}

.icon--filter {
    @extend %icon;
    &:before {
        content: "\e613";
    }
}

.icon--folder-open {
    @extend %icon;
    &:before {
        content: "\e62c";
    }
}

.icon--folder {
    @extend %icon;
    &:before {
        content: "\e615";
    }
}

.icon--history {
    @extend %icon;
    &:before {
        content: "\e618";
    }
}

.icon--message-tick {
    @extend %icon;
    &:before {
        content: "\e61b";
    }
}

.icon--refresh {
    @extend %icon;
    &:before {
        content: "\e621";
    }
}

.icon--save {
    @extend %icon;
    &:before {
        content: "\e622";
    }
}

.icon--search {
    @extend %icon;
    &:before {
        content: "\e623";
    }
}

.icon--help-circle {
    @extend %icon;
    &:before {
        content: "\e617";
    }
}

.icon--new {
    @extend %icon;
    &:before {
        @include font-size(13px);
        @include rounded-circle;
        @include padding(0.5, right);
        @include padding(0.5, top);
        @include margin(0.5, top);
        display: inline-block;
        content: "New";
        color: color('white');
        background-color: color('blue', 4);
        font-family: sans-serif;
        font-weight: bold;
        width: 35px;
        height: 35px;
        transform: rotate(-12deg);
        padding: 7px 0 0 4px;
        margin: -9px 0 0 -7px;
    }
}
