/**
 * Product icons
 */
 .icon--data-compare-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e99f";
    }
}

 .icon--data-masker,
 .icon--data-masker-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e9c5";
    }
}

.icon--dlm-automation {
    @extend %icon;
    &:before, &:after {
        content: "\e9e3";
    }
}

.icon--dlm-dashboard {
    @extend %icon;
    &:before, &:after {
        content: "\e9d8";
    }
}

.icon--readyroll {
    @extend %icon;
    &:before, &:after {
        content: "\e9cd";
    }
}

.icon--schema-compare-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e99e";
    }
}

.icon--source-control-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e99d";
    }
}

.icon--sql-backup {
    @extend %icon;
    &:before, &:after {
        content: "\e9e2";
    }
}

.icon--sql-change-automation {
    @extend %icon;
    &:before, &:after {
        content: "\e9c3";
    }
}

.icon--sql-clone {
    @extend %icon;
    &:before, &:after {
        content: "\e9d1";
    }
}

.icon--sql-code-guard {
    @extend %icon;
    &:before, &:after {
        content: "\e9d0";
    }
}

.icon--sql-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e9e5";
    }
}

.icon--sql-comparison-sdk {
    @extend %icon;
    &:before, &:after {
        content: "\e9e1";
    }
}

.icon--sql-data-catalog {
    @extend %icon;
    &:before, &:after {
        content: "\e9a4";
    }
}

.icon--sql-data-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e9d9";
    }
}

.icon--sql-data-generator {
    @extend %icon;
    &:before, &:after {
        content: "\e9d2";
    }
}

.icon--sql-dependency-tracker {
    @extend %icon;
    &:before, &:after {
        content: "\e9d2";
    }
}

.icon--sql-doc {
    @extend %icon;
    &:before, &:after {
        content: "\e9da";
    }
}

.icon--sql-estate-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e9c4";
    }
}

.icon--sql-index-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e9cf";
    }
}

.icon--redgate-monitor,
.icon--sql-monitor {
    @extend %icon;
    &:before, &:after {
        content: "\e9db";
    }
}

.icon--sql-multi-script {
    @extend %icon;
    &:before, &:after {
        content: "\e9ce";
    }
}

.icon--sql-prompt {
    @extend %icon;
    &:before, &:after {
        content: "\e9d3";
    }
}

.icon--sql-scripts-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e9cc";
    }
}

.icon--sql-search {
    @extend %icon;
    &:before, &:after {
        content: "\e9dc";
    }
}

.icon--sql-source-control {
    @extend %icon;
    &:before, &:after {
        content: "\e9dd";
    }
}

.icon--sql-test {
    @extend %icon;
    &:before, &:after {
        content: "\e9de";
    }
}

.icon--sql-toolbelt,
.icon--sql-toolbelt-essentials {
    @extend %icon;
    &:before, &:after {
        content: "\e9df";
    }
}

.icon--flyway,
.icon--flyway-desktop,
.icon--flyway-teams,
.icon--flyway-enterprise {
    @extend %icon;
    &:before, &:after {
        content: "\e997";
    }
}

.icon--redgate-clone {
    @extend %icon;
    &:before, &:after {
        content: "\e9d1";
    }
}

.icon--redgate-test-data-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e983";
    }
}

/**
 * Deprecated logos
 */
.icon--data-platform-studio,
.icon--redgate-deploy,
.icon--sql-provision,
.icon--redgate-change-control {
    @extend .icon--sql-toolbelt;
}