/**
 * Product icons
 */
 .icon--data-compare-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e963";
    }
}

 .icon--data-masker,
 .icon--data-masker-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e923";
    }
}

.icon--data-platform-studio {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}

.icon--dlm-automation {
    @extend %icon;
    &:before, &:after {
        content: "\e929";
    }
}

.icon--dlm-dashboard {
    @extend %icon;
    &:before, &:after {
        content: "\e91e";
    }
}

.icon--readyroll {
    @extend %icon;
    &:before, &:after {
        content: "\e933";
    }
}

.icon--redgate-deploy {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}

.icon--schema-compare-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e962";
    }
}

.icon--source-control-for-oracle {
    @extend %icon;
    &:before, &:after {
        content: "\e961";
    }
}

.icon--sql-backup {
    @extend %icon;
    &:before, &:after {
        content: "\e928";
    }
}

.icon--sql-change-automation {
    @extend %icon;
    &:before, &:after {
        content: "\e93b";
    }
}

.icon--sql-clone {
    @extend %icon;
    &:before, &:after {
        content: "\e937";
    }
}

.icon--sql-code-guard {
    @extend %icon;
    &:before, &:after {
        content: "\e936";
    }
}

.icon--sql-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e91b";
    }
}

.icon--sql-comparison-sdk {
    @extend %icon;
    &:before, &:after {
        content: "\e927";
    }
}

.icon--sql-data-catalog {
    @extend %icon;
    &:before, &:after {
        content: "\e95c";
    }
}

.icon--sql-data-compare {
    @extend %icon;
    &:before, &:after {
        content: "\e91f";
    }
}

.icon--sql-data-generator {
    @extend %icon;
    &:before, &:after {
        content: "\e938";
    }
}

.icon--sql-dependency-tracker {
    @extend %icon;
    &:before, &:after {
        content: "\e926";
    }
}

.icon--sql-doc {
    @extend %icon;
    &:before, &:after {
        content: "\e920";
    }
}

.icon--sql-estate-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e93c";
    }
}

.icon--sql-index-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e935";
    }
}

.icon--sql-monitor {
    @extend %icon;
    &:before, &:after {
        content: "\e921";
    }
}

.icon--sql-multi-script {
    @extend %icon;
    &:before, &:after {
        content: "\e934";
    }
}

.icon--sql-prompt {
    @extend %icon;
    &:before, &:after {
        content: "\e939";
    }
}

.icon--sql-provision {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}

.icon--sql-scripts-manager {
    @extend %icon;
    &:before, &:after {
        content: "\e932";
    }
}

.icon--sql-search {
    @extend %icon;
    &:before, &:after {
        content: "\e922";
    }
}

.icon--sql-source-control {
    @extend %icon;
    &:before, &:after {
        content: "\e93a";
    }
}

.icon--sql-test {
    @extend %icon;
    &:before, &:after {
        content: "\e924";
    }
}

.icon--sql-toolbelt,
.icon--sql-toolbelt-essentials {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}

.icon--redgate-change-control {
    @extend %icon;
    &:before, &:after {
        content: "\e925";
    }
}

.icon--flyway,
.icon--flyway-desktop,
.icon--flyway-teams,
.icon--flyway-enterprise {
    @extend %icon;
    &:before, &:after {
        content: "\e968";
    }
}