/*------------------------------------*\
    #BREAKPOINT SETTINGS
\*------------------------------------*/

/**
 * Toggle responsive functionality on or off.
 * Default is for responsive functionality to be ON.
 */

$hc-responsive: true !default;

/**
 * Set responsive breakpoints.
 */

$hc-breakpoints: (
  "max": 99999px,
  "large": 1200px,
  "medium": 950px,
  "small": 600px,
  "mini": 384px
) !default;

/**
 * Set whether the breakpoints and media queries should run as desktop first.
 * i.e. when using a responsive breakpoint, desktop first captures upto the
 * breakpoint, so 'medium' breakpoint would apply to medium and small.
 */

$hc-desktopFirst: true !default;
$hc-mqProperty: "max-width:" !default;

@if $hc-desktopFirst == true {
    $hc-mqProperty: "max-width:";
} @else {
    $hc-mqProperty: "min-width:";
}
