/*------------------------------------*\
    #SPACING SETTINGS
\*------------------------------------*/

$hc-spacing-index: 16px !default; // font-size
$hc-spacing-multiplier: 2.5 !default;
@if $hc-mode == app {
    $hc-spacing-multiplier: 1.25;
}

/**
 * Spacing units - based off $line-height.
 */
$hc-spacing-unit: $hc-spacing-index * $hc-spacing-multiplier !default;
$hc-spacing-unit--small: round($hc-spacing-unit / 2) !default;
$hc-spacing-unit--large: round($hc-spacing-unit * 2) !default;


/**
 * White list of margin scales.
 */
$hc-margin-whitelist: (-2, -1.75, -1.5, -1.2, -1, -0.8, -0.6, -0.5, -0.25, -0.1, 0, 0.1, 0.25, 0.5, 0.6, 0.8, 1, 1.2, 1.5, 1.75, 2) !default;


/**
 * White list of padding scales.
 */
$hc-padding-whitelist: (0, 0.1, 0.25, 0.5, 0.6, 0.8, 1, 1.2, 1.5, 1.75, 2) !default;
