.table--bare {
	&, th, td {
		border: none;
	}
}

.table--striped {
	tr.odd, tr:nth-child(odd) {
		background: $hc-default-bg-color;

	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 1);
	}
	tr:hover {
		background: color('grey', 2);
	}
}

.table--striped-grey {
	tr.odd, tr:nth-child(odd) {
		background: color('grey', 1);
	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 2);
	}
	tr:hover {
		background: color('grey', 3);
	}
	thead th {
		border-bottom-color: color('grey', 4);
	}
	th {
		border-right-color: color('grey', 4);
	}
}

/**
 * Halve/Double the padding in table cells.
 */
th, td {
	&.padded--tight {
		@include padding(0.25);
	}

	&.padded-v--tight {
		@include padding(0.25, 'top');
		@include padding(0.25, 'bottom');
	}

	&.padded-h--tight {
		@include padding(0.25, 'left');
		@include padding(0.25, 'right');
	}

	&.padded--loose {
		@include padding(1);
	}

	&.padded-v--loose {
		@include padding(1, 'top');
		@include padding(1, 'bottom');
	}

	&.padded-h--loose {
		@include padding(1, 'left');
		@include padding(1, 'right');
	}
}


.table--tight {
	th, td {
		padding: 3px;
	}
}

.table--light {
	border: none;

	th {
		@include padding(0, 'left');
		border: none;
		background-color: transparent;
		text-align: left;
	}
}

.table--valign-middle {
	th, td {
		vertical-align: middle;
	}
}
