.table--bare {
	th, td {
		border: none;
	}
}

.table--striped {
	tr.odd, tr:nth-child(odd) {
		background: $default-bg-color;
	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 1);
	}
}

.table--striped-grey {
	tr.odd, tr:nth-child(odd) {
		background: color('grey', 1);
	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 2);
	}
}
