.table--bare {
	&, th, td {
		border: none;
	}
}

.table--striped {
	tr.odd, tr:nth-child(odd) {
		background: $hc-default-bg-color;
	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 1);
	}
}

.table--striped-grey {
	tr.odd, tr:nth-child(odd) {
		background: color('grey', 1);
	}
	tr.even, tr:nth-child(even) {
		background: color('grey', 2);
	}
}

/**
 * Double the padding in table cells.
 */
.td-padded--loose {
    @include padding(1);
}

.td-padded-v--loose {
    @include padding(1, top);
    @include padding(1, bottom);
}

.td-padded-h--loose {
    @include padding(1, left);
    @include padding(1, right);
}


.table--tight {
	th, td {
		padding: 3px;
	}
}

.table--light {
	border: none;

	th {
		@include padding(0, 'left');
		border: none;
		background-color: transparent;
		text-align: left;
	}
}

.table--valign-middle {
	th, td {
		vertical-align: middle;
	}
}
