.spinner--radial {
    display: inline-block;
    width: $hc-spinner-radial-size;
    height: $hc-spinner-radial-size;
    border-width: $hc-spinner-radial-border;
    border-style: solid;
    border-color: color("blue", 5);
    border-left-color: transparent;
    border-radius: 999px;
    animation: radial-spin 0.6s linear infinite;

    &.spinner--tiny {
        width: $hc-spinner-radial-size-tiny;
        height: $hc-spinner-radial-size-tiny;
        border-width: $hc-spinner-radial-border-tiny;
    }

    &.spinner--small {
        width: $hc-spinner-radial-size-small;
        height: $hc-spinner-radial-size-small;
        border-width: $hc-spinner-radial-border-small;
    }

    &.spinner--large {
        width: $hc-spinner-radial-size-large;
        height: $hc-spinner-radial-size-large;
        border-width: $hc-spinner-radial-border-large;
    }
}

@keyframes radial-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
