.gatebase {
    display: inline-block;
    position: relative;
    background-color: color("grey", 4);
    width: $hc-spinner-gatebase-width;
    height: $hc-spinner-gatebase-height;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 26%;
        top: -10.87%;
        border-radius: 150%;
        background-color: inherit;
    }

    &:after {
        top: auto;
        bottom: -10.87%;
    }
}

.spinner--gatebase {
    animation: gatebase-spin 1.3s infinite ease-in-out both;

    &--2 {
        animation-delay: 0.36s;
    }
    &--3 {
        animation-delay: 0.72s;
    }
}

@keyframes gatebase-spin {
    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
