.avatar, .avatar-default {
	@extend .rounded--circle;
	overflow:hidden;
	border-width: 2px;
	border-style: solid;
	border-color: color('red', 'brand');
	display: inline-block;

	img {
		@extend .rounded--circle;
	}

	a {
		text-decoration:none;
		border: none;
	}
}