/*------------------------------------*\
    #PIN
\*------------------------------------*/

/**
* Used to pin things the edge of their absolutely positioned, containing element.
* To give the effect of them bleeding beyond their container, like print off a page.
*/
.pin {
  @include pin;
}

.pin-top {
  @include pin-top;
}

.pin-right {
  @include pin-right;
}

.pin-bottom {
  @include pin-bottom;
}

.pin-left {
  @include pin-left;
}

.pin-top-right {
  @include pin-top-right;
}

.pin-bottom-right {
  @include pin-bottom-right;
}

.pin-bottom-left {
  @include pin-bottom-left;
}

.pin-top-left {
  @include pin-top-left;
}



.pin-middle {
  @include pin;
  left: 0;
  right: 0;
  margin: auto;
}

.pin-to-right-of-middle {
  @include pin;
  left: 52%;
}

.pin-to-left-of-middle {
  @include pin;
  right: 52%;
}
