/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

.image-center,
%image-center {
	display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}