/*------------------------------------*\
    #BANDS
\*------------------------------------*/

/**
 * a .band is a full-width, stackable band of content with no margin-bottom.
 * The default band has a white background.
 */
.band,
%band {
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
}

/**
 * .band__inner-wrapper is a content wrapper within .band which is:
 *  1. Centered
 *  2. A class hook for constraining the width of it's contained content
 *  The default band__inner-container has a nice large amount of vertical padding
 * These rules are to set the width of .band__inner-wrapper at different
 * viewport widths.
 * Media query breakpoint defaults are set in base/settings/_settings.scss
 * and may be overidden and extended in project/settings/_settings.scss.
 */

.band__inner-container,
%band__inner-container {
    @include clearfix();
    @include padding(1, top);
    @include padding(1, bottom);
    width: 100%;
    max-width: $container-width;
    margin: auto;
    & > *:not(.grid) {
      @include padding(0.5, left);
      @include padding(0.5, right);
    }
}


/**
 * band__inner-container with tighter vertical padding
 */
.band__inner-container--tight,
%band__inner-container--tight {
    @extend %band__inner-container;
    @include padding(0.5, top);
    @include padding(0.5, bottom);
}


/**
 * band__inner-container with looser vertical padding
 */
.band__inner-container--loose,
%band__inner-container--loose {
    @extend %band__inner-container;
    @include padding(2, top);
    @include padding(2, bottom);
}
