/*------------------------------------*\
	# SHARING BUTTONS
\*------------------------------------*/
ul.sharing {
	@extend %list--bare;
}

.sharing__link {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: none;
	color: transparent;
	overflow: hidden;
	border-radius: 100px;

	&:hover {
		opacity: 0.7;
	}

	&--email {
		background-image: url(#{$hc-sharing-images-dir}/email.png);
	}

	&--facebook {
		background-image: url(#{$hc-sharing-images-dir}/facebook.png);
	}

	&--linked-in {
		background-image: url(#{$hc-sharing-images-dir}/linked-in.png);
	}

	&--twitter {
		background-image: url(#{$hc-sharing-images-dir}/twitter.png);
	}

	&--print {
		background-image: url(#{$hc-sharing-images-dir}/print.png);
	}
}
