$hc-tabs-border-width: 4px !default;
$hc-tabs-border-color: color("red") !default;
$hc-tabs-link-color: color("grey", 7) !default;
$hc-tabs-max-width: 1000px !default;
$hc-tabs-padding-horizontal: 1 !default;
