.header--primary {
    position: relative;
    overflow: visible;
    z-index: 1001;
    height: $hc-navigation-minimum-height !important;
    transition: $hc-navigation-transition;

    * {
        display: flex;
    }

    &, &__container, nav, ul {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

    &, &__container, nav {
        width: 100%;
    }

    &__container {
        height: $hc-navigation-minimum-height;
        transition: $hc-navigation-transition;
    }

    ul, li {
        @include margin(0);
        list-style: none;
        text-align: center;
    }

    li {
        flex-shrink: 0;
    }

    &__app-logo-container {
        @extend .text--redgate;
        @include margin(0.5, 'right');
        @include font-size(24px);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-left: $hc-navigation-app-logo-padding;
        padding-right: $hc-navigation-app-logo-padding;

        @include responsive('large') {
            @include margin(0.25, 'right');
        }

        img {
            height: $hc-navigation-app-logo-height;
        }

        &--redgate img {
            height: $hc-navigation-app-redgate-logo-height;
        }
    }

    &__app-name-container {
        @extend .text--redgate;
        @include margin(0.5, 'right');
        @include font-size($hc-navigation-branding-font-size);
        display: flex;
        flex-shrink: 0;
        align-items: center;

        @include responsive('large') {
            @include margin(0.25, 'right');
        }
    }

    &__strapline {
        @include margin(0.5, 'right');
        @include margin(0, 'bottom');
        @include font-size($hc-navigation-branding-font-size);
        display: flex;
        align-items: center;

        @include responsive('large') {
            @include margin(0.25, 'right');
        }
    }

    &__company-logo-container {
        @extend .text--redgate;
        @include margin(0.5, 'left');
        @include margin(0.5, 'right');
        @include font-size($hc-navigation-branding-font-size);
        display: flex;
        flex-shrink: 0;
        align-items: center;

        @include responsive('large') {
            @include margin(0.25, 'left');
            @include margin(0.25, 'right');
        }
    }

    .float-right {
        margin-left: auto; // Now we're using flexbox we set margin-left to auto to snap it to the right.
    }

    ul a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-left: $hc-navigation-link-padding;
        padding-right: $hc-navigation-link-padding;
        border-bottom-style: solid;
        border-bottom-width: $hc-navigation-link-border-width;
        border-bottom-color: transparent;
        border-top-style: solid;
        border-top-width: $hc-navigation-link-border-width;
        border-top-color: transparent;

        @include responsive('large') {
            padding-left: $hc-navigation-link-padding-tight;
            padding-right: $hc-navigation-link-padding-tight;
        }
    }

    .active {
        font-weight: bold;
    }

    &__icon {
        width: $hc-navigation-icon-width;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        &:before, :before {
            @include font-size($hc-navigation-icon-font-size);
            @include margin($hc-navigation-icon-margin-ratio-right, 'right');
        }
    }

    .dropdown .arrow {
        top: $hc-navigation-dropdown-arrow-position-top;
        right: $hc-navigation-dropdown-arrow-position-right;

        &:before {
            @include font-size($hc-navigation-dropdown-arrow-font-size);
        }

        svg {
            width: $hc-navigation-dropdown-arrow-width;
        }
    }

    .dropdown > ul {
        @include padding(0);
        height: auto;
        border-left-style: solid;
        border-left-width: $hc-navigation-dropdown-list-border-width;
        border-right-style: solid;
        border-right-width: $hc-navigation-dropdown-list-border-width;
        border-bottom-style: solid;
        border-bottom-width: $hc-navigation-dropdown-list-border-width;

        li {
            text-align: left;

            &:last-of-type {
                border-bottom-width: 0;
            }
        }

        a {
            @include padding($hc-navigation-dropdown-list-item-padding-ratio-vertical);
            @include padding($hc-navigation-dropdown-list-item-padding-ratio-horizontal, 'left');
            @include padding($hc-navigation-dropdown-list-item-padding-ratio-horizontal, 'right');
            border: 0;
        }
    }

    &__menu-button {
        @extend .icon--table-expand-medium;

        .mobile-nav--open & {
            @extend .icon--cross;
        }
    }

    form {
        @include margin($hc-navigation-form-margin-ratio-left, 'left');
    }

    input[type="text"], input[type="search"] {
        @include padding($hc-navigation-text-input-padding-ratio-horizontal, 'left');
        @include padding($hc-navigation-text-input-padding-ratio-horizontal, 'right');
        border: none;
        border-radius: 0;
        width: $hc-navigation-text-input-width;
    }

    input[type="submit"], button {
        border: none;
        border-radius: 0;

        [class^="icon--"] {
            &:before, :before {
                @include font-size($hc-navigation-icon-font-size);
            }
        }
    }

    // Primary headers that collapse have a inner container, and the
    // height is set to that rather than this.
    &--has-inner-container {
        height: auto !important;
    }

    // Collapsed - For Hub area.
    &--collapsed {

        .header--primary__container {
            height: 0;
            overflow: hidden;
        }

        // Display the menu mobile below the collapsed nav.
        .header--primary__menu--mobile {
            top: $hc-navigation-minimum-height !important;
        }
    }

    // MOBILE MENU.
    .header--primary__menu--mobile {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10;
        border-bottom-style: solid;
        border-bottom-width: $hc-navigation-mobile-menu-border-bottom-width;

        .mobile-nav--open & {
            display: block;
        }
        
        * {
            display: block; // Reset from flex.
        }

        [class^="icon--"] {
            @include margin($hc-navigation-mobile-menu-icon-margin-ratio-right, 'right');
            display: inline-block;
        }

        &, li {
            text-align: left;
        }

        li {
            border-top-style: solid;
            border-top-width: $hc-navigation-mobile-menu-item-border-width;
            border-bottom-width: 0 !important;
        }

        & > li:first-of-type,
        & > ul:first-of-type > li:first-of-type {
            border-top-width: 0;       
        }

        a {
            @include padding($hc-navigation-mobile-menu-item-padding-ratio-horizontal, 'left');
            @include padding($hc-navigation-mobile-menu-item-padding-ratio-horizontal, 'right');
            @include padding($hc-navigation-mobile-menu-item-padding-ratio-vertical, 'top');
            @include padding($hc-navigation-mobile-menu-item-padding-ratio-vertical, 'bottom');
            // padding-top: 11px;
            // padding-bottom: 11px;
            border: none;
        }

        li li a {
            @include padding(($hc-navigation-mobile-menu-item-padding-ratio-horizontal * 2), 'left'); // Indentation.
        }

        li li li a {
            @include padding(($hc-navigation-mobile-menu-item-padding-ratio-horizontal * 3), 'left'); // Further indentation.
        }

        .active-parent {
            font-weight: bold;
        }

        .dropdown {
            
            ul {
                position: relative;
                width: 100%;
                left: 0;
                border-left-style: none;
                border-right-style: none;
                border-bottom-style: none;
            }

            .arrow {
                @include padding(0.5, 'left');
                @include padding(0.5, 'right');
                top: $hc-navigation-mobile-menu-arrow-position-top;
                right: $hc-navigation-mobile-menu-arrow-position-right;

                &:before {
                    @include font-size($hc-navigation-mobile-menu-arrow-icon-font-size);
                }

                svg {
                    width: $hc-dropdown-arrow-width;
                }
            }
        }
    }
}

// COLOURS.
.header--primary {
    background-color: color('grey', 8);

    &__app-logo-container {
        background-color: color('red');
        color: color('white') !important;
    }

    &__app-name-container {
        color: color('white') !important;
    }

    &__company-logo-container {
        color: color('grey', 3) !important;
    }

    &__strapline {
        color: color('white');
    }

    a, a:link, a:visited, a:focus {
        color: color('grey', 4);
    }

    a:hover {
        color: color('white');
    }

    .active, a.active {
        color: color('white');
        border-bottom-color: color('red');
        
        &:hover {
            border-bottom-color: color('white');
        }
    }

    &__icon {

        &:hover {
            background-color: color('red');
        }

        &.active {
            background-color: color('red');
            border-bottom-color: color('white') !important;
        }
    }

    .dropdown.open {
        & > a:first-of-type {
            color: color('white');
            border-bottom-color: color('white');
        }

        .arrow {
            color: color('white');
        }
    }

    .dropdown > ul {
        background-color: color('white');
        border-color: color('grey', 3);

        a {
            color: color('grey', 7);

            &:hover {
                background-color: color('grey', 1);
            }
        }
    }

    &__menu-button {
        background-color: color('red');
        color: color('white') !important;

        .mobile-nav--open & {
            background-color: color('grey', 9);
        }
    }

    input[type="text"], input[type="search"] {
        background-color: color('grey', 9);
        color: color('white');
    }

    input[type="submit"], button {
        background-color: color('grey', 9) !important;
        color: color('white') !important;

        &:hover {
            background-color: color('red') !important;
        }
    }

    .header--primary__menu--mobile {
        border-bottom-color: color('red');

        &, ul {
            background-color: color('grey', 9);
        }

        li {
            border-top-color: color('grey', 7);
            border-bottom-color: color('grey', 6);
        }

        .dropdown > ul {
            background-color: color('grey', 8);

            a {
                color: color('grey', 4);

                &:hover {
                    background-color: transparent;
                    color: color('white');
                }

                &.active {
                    &, &:hover {
                        background-color: color('red');
                        color: color('white');
                    }
                }
            }
        }

        .dropdown.open {

            &, ul {
                background-color: color('black');
            }
        
            & > a {
                color: color('white');
            }
        }

        .active-parent {
            color: color('white');
        }
    }
}
