/* PRIMARY NAVIGATION */
$transition: all 0.5s;

.header--primary {
    position: relative;
    z-index: 20;
    min-height: $hc-navigation-minimum-height;
    line-height: $hc-navigation-minimum-height - $hc-navigation-border-width;
    overflow: visible;
    transition: $transition;

    ul {
        &, li {
            @include margin(0);
            display: inline-block;
        }
    }

    a {
        @include padding(0.25, left);
        @include padding(0.25, right);
        display: inline-block;
        border-bottom-width: $hc-navigation-border-width;
        border-bottom-style: solid;
        border-bottom-color: transparent;

        &.active {
            border-bottom-color: $hc-link-border-color;
            font-weight: bold;
        }

        &.header--primary__icon:not(.header--primary__menu-button) {
            @include padding(0.5, left);
            @include padding(0.5, right);
        }
    }

    .header--primary__app-logo-container,
    .header--primary__app-name-container {
        $font-size: 21px;
        $diff: (($font-size - 16) + 1) / 2;
        $line-height: ($hc-navigation-minimum-height - $hc-navigation-border-width) - $diff;

        @extend .text--redgate;
        @include padding(0.5, left);
        @include padding(0.5, right);
        @include font-size($font-size);
        min-height: $hc-navigation-minimum-height;
        line-height: $line-height;
        color: color('white');
        display: inline-block;
        white-space: nowrap;
    }

    .header--primary__app-name-container {
        @include padding(0.25, left);
    }

    .header--primary__company-logo-container {
        @include padding(0.5, left);
        @include padding(0.5, right);
    }

    .header--primary__icon {
        margin-left: -4px; // To prevent space when display:inline.
    }

    .header--primary__menu-button {
        background-image: url(#{$hc-navigation-menu-icon-open}.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 60px;
        word-break: normal;

        &, &:hover {
            color: transparent;
        }

        .svg & {
            background-image: url(#{$hc-navigation-menu-icon-open}.svg);
        }

        .mobile-nav--open & {
            background-image: url(#{$hc-navigation-menu-icon-close}.png);

            .svg & {
                background-image: url(#{$hc-navigation-menu-icon-close}.svg);
            }
        }
    }

    .dropdown {
        ul {

            li {
                line-height: initial;
            }

            a {
                @include font-size(14px);
            }
        }

        .arrow {
            @include padding(0);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .header--primary__strapline {
        @include margin(0, bottom);
        display: inline-block;
    }

    .header--primary__search-form {
        display: inline-block;
        position: relative;

        [type="search"], [type="text"] {
            @include margin(0);
            @include margin(0.5, left);
            @include padding(0);
            @include padding(0.5, left);
            @include padding(0.5, right);
            display: inline-block;
            box-sizing: border-box;
            line-height: $hc-navigation-minimum-height - $hc-navigation-border-width;
            height: $hc-navigation-minimum-height;
            width: 210px;
            border: none;
            border-bottom-width: $hc-navigation-border-width;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            border-radius: 0;
        }

        [type="submit"], a.header--primary__search-button--mobile {
            @extend .icon--search;
            @include font-size(0px, 0);
            @include margin(0.25, 'right');
            @include padding(0.5, 'left');
            @include padding(0.5, 'right');
            background: none;
            border: none;
            display: inline-block;
            position: relative;
            top: -5px;
            height: 40px;

            &:before {
                @include font-size(30px, 0);
                @include margin(0);
            }
        }

        [type="submit"] {
            @include margin(0);
            margin-left: -4px; // To prevent space when display:inline.
            height: $hc-navigation-minimum-height;
        }

        a.header--primary__search-button--mobile {
            position: relative;
        }
    }

    .header--primary__container {
        transition: $transition;
        overflow: hidden;
        height: $hc-navigation-minimum-height;
    }

    &.dropdown--open {
        .header--primary__container {
            overflow: visible;
        }
    }

    &.js-header-primary-collapse {
        position: relative;

        .header--primary__menu--mobile {
            position: absolute;
            left: 0;
            top: $hc-navigation-minimum-height;
            width: 100%;
        }
    }

    &--collapsed {
        min-height: 0;

        .header--primary__container {
            height: 0;
            overflow: hidden;
        }
    }
}

// MOBILE MENU
.header--primary .header--primary__menu--mobile {
    @include padding(0.5, top);
    @include padding(0.5, bottom);
    display: none;
    line-height: normal;

    .mobile-nav--open & {
        display: block;
    }

    ul, li {
        @include padding(0, top);
        @include padding(0, bottom);
        display: block;
        position: relative;
        left: 0;
    }

    a {
        @include padding(0.25, top);
        @include padding(0.25, bottom);
        @include padding(0.5, left);
        @include padding(0.5, right);
        display: block;
    }

    li li a {
        @include padding(1, left);
    }

    li li li a {
        @include padding(1.5, left);
    }

    li li li li a {
        @include padding(2, left);
    }

    .dropdown ul a {
        @include font-size(16px);
    }

    .arrow {
        @include padding(0.5, left);
        @include padding(0.5, right);
        top: 13px;
        transform: initial;
    }

}

// COLOURS
.header--primary {
    background-color: color('grey', 7);

    a {
        color: color('grey');

        &:hover {
            color: color('white');
        }

        &.active {
            background-color: color('grey', 7);
            color: color('white');
        }
    }

    .header--primary__app-logo-container {
        background-color: color('red');
    }

    .header--primary__app-logo-container--transparent {
        background-color: transparent;
    }

    .dropdown ul,
    .header--primary__icon,
    .header--primary__menu-button,
    .header--primary__menu--mobile {
        background-color: color('grey', 9);
    }

    .header--primary__menu--mobile .active {
        background-color: transparent;
        border-bottom-color: transparent;
    }

    .header--primary__strapline {
        color: color('grey', 3);
    }

    .header--primary__search-form {

        [type="search"], [type="text"] {
            background-color: color('grey', 9);
            color: color('white');
        }

        [type="submit"] {
            background-color: color('grey', 9);

            &:before {
                color: color('white');
            }
        }
    }

    a.header--primary__search-button--mobile {
        color: color('white');
    }
}

.header--primary--light {
    background-color: color('grey', 1);

    a {
        &, &:hover {
            color: color('grey', 7);
        }

        &.active {
            color: color('grey', 7);
            background-color: transparent;
        }
    }

    .header--primary__app-logo-container {
        background-color: color('grey', 1);
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: color('grey', 3);
    }

    .header--primary__app-logo-container--transparent {
        background-color: transparent;
        border-right: none;
    }

    .dropdown ul,
    .header--primary__icon,
    .header--primary__menu-button,
    .header--primary__menu--mobile {
        background-color: color('grey', 3);
    }

    .header--primary__menu--mobile .active {
        background-color: transparent;
        border-bottom-color: transparent;
    }

    .header--primary__strapline {
        color: color('grey', 7);
    }

    .header--primary__search-form {
        [type="search"], [type="text"] {
            background-color: color('grey', 2);
            color: color('grey', 7);
        }

        [type="submit"] {
            &:before {
                color: color('white');
            }
        }
    }

    a.header--primary__search-button--mobile {
        color: color('white');
    }
}


/* SECONDARY NAVIGATION */
.header--secondary {
    background-color: color('white');
    border-bottom: 4px solid color('grey', 2);
    overflow: visible;

    .band__inner-container {
        @include padding(0);
        position: relative;
    }

    .section {
        @include margin(0);
        @include margin(0.25, top);
        @include margin(0.5, right);
        @include font-size(24px);
        float: left;

        img {
            @include margin(0.25, right);
        }
    }

    ul {
        @extend %list--horizontal;
        float: left;

        &.right {
            float: right;
        }

        &, li {
            @include margin(0, bottom);
        }

        a {
            @include margin(0);
            @include padding(0.5);
            @include padding(0.25, top);
            @include padding(0.5, bottom);
            @include font-size(13px);
            color: color('grey', 7);
            display: block;
            border-bottom-color: transparent;
            border-bottom-width: 4px;
            text-transform: uppercase;
            position: relative;
            top: 4px;

            &.active {
                border-bottom-color: $hc-link-border-color;
                border-bottom-style: solid;
                font-weight: bold;
            }
        }
    }

    .button {
        @include margin(0.25, left);
    }

    @include responsive('medium') {
        border-bottom: none;

        ul {
            width: 100%;

            li {
                display: block;
                border-bottom: 4px solid color('grey', 2);
            }
        }
    }
}
