/*------------------------------------*\
    #DROPDOWN NAVIGATION
\*------------------------------------*/
.dropdown, .js-dropdown {
    position: relative;

    ul {
        @include padding(0.25, top);
        @include padding(0.25, bottom);
        display: none;
        position: absolute;
        top: 100%;
        left: -1rem;
        z-index: 15;
        min-width: px-rem(230);

        li {
            position: relative;
            display: block;
            width: 100%;
        }

        a {
            @include padding(0.8, left);
            @include padding(0.8, right);
            @include padding(0.1, bottom);
            @include padding(0.1, top);
            display: block;
        }
    }

    & > a {
        @include padding(0.8, right);
    }

    &.open > ul {
        display: block;
    }

    &.closed > ul {
        display: none;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 0;
        right: px-rem(7px);
        width: 16px;
        height: 18px;

        svg {
            display: block;
            width: $hc-dropdown-arrow-width;
            height: $hc-dropdown-arrow-height;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.25s;
        }
    }

    &.open .arrow svg {
        transform: translate(-50%, -50%) rotateX(180deg);
    }

    &.closed .arrow svg {
        transform: translate(-50%, -50%) rotateX(0deg);
    }
}
