/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/


.pagination {
    @include padding(0.25);
    @include clearfix();
    float: left;
    width: 100%;
}

.pagination__prev {
    border:none;
    float: left;
    font-weight: bold;
    text-align: left;

    &:before {
        content: "\e606";
        font-family: "Redgate";
        @include margin(0.25, right);
    }
}

.pagination__next {
    border: none;
    float: right;
    font-weight: bold;
    text-align: right;

    &:after {
        content: "\e607";
        font-family: "Redgate";
        @include margin(0.25, left);
    }
}

.pagination__index {
    margin: 0 auto;
    list-style: none;
    text-align: center;

    li {
        @include padding(0.25, left);
        @include padding(0.25, right);
        display: inline-block;

        // IE7 support.
        .ie7 & {
            zoom: 1;
            display: inline;
        }
    }

    a {
        border:none;
        font-weight: bold;
    }
}
