/**
  * Buy Now link in header
  */
.header--primary .header__buy-now {
    height: 40px;
    margin: 15px 0;
    border-radius: 4px;
    padding-right: 10px;
    color: color('white') !important;
    background-color: color('black') !important;

    &:hover {
        background-color: color('grey', 9) !important;
    }

    &:active {
        background-color: color('grey', 7) !important;
    }

    // Hide Buy Now button when active
    &.active {
        display: none;
    }

    a.arrow {
        right: 0;
        top: 0;
        color: color('grey', 4);
        height: 100%;
    }

    .sub-menu {
        @extend .rounded;

        background-color: color('white');
        border: 2px solid color('grey', 2);
        margin-left: 15px;
        margin-top: 5px;

        li {
            border-bottom: none;

            &:last-child {
                border-top: 1px solid color('grey', 1);
            }

            a {
                color: color('grey', 8);
                font-weight: 500;

                &:hover {
                    background-color: color('grey', 1);
                }

                &:active {
                    background-color: color('grey', 2);
                }

            }
        }
    }

    // Fudge to prevent elements colliding just before we hit the large breakpoint
    @media (max-width: 1300px) {
        a[href="#toggle"] {
            font-size: 14px;
            padding: 0px 10px !important;
        }
    }
}

// Smaller quotes link
.header--primary .header__quotes {
    font-size: 14px;
}

// Hide quotes and buy now link in collapsed header to prevent overlapping with Hub nav
.header--primary--collapsed {
    .header__buy-now,
    .header__quotes {
        display: none;
    }
}