/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/


.pagination {
    @include clearfix();
    @include margin(0.5, 'top');
    @include margin(0.5, 'bottom');
    display: flex;
    flex-direction: row;
}

.pagination__prev {
    @extend .icon--arrow-left-link;
    order: 1;
    margin-right: auto;

    &:before {
        @include margin(0.1, 'right');
    }
}

.pagination__next {
    @extend .icon--arrow-right-link;
    @extend .icon--right;
    order: 3;
    margin-left: auto;
    text-align: right;

    &:after {
        @include margin(0.1, 'left');
    }
}

.pagination__index {
    @include margin(0);
    display: flex;
    flex-wrap: wrap;
    order: 2;
    flex-grow: 1;
    text-align: center;
    list-style: none;
    justify-content: center;

    li {
        @include margin(0);
        @include margin(0.1, 'left');
        @include margin(0.1, 'right');
    }
}

.pagination__prev,
.pagination__next,
.pagination__index a {
    @extend %button;
    @extend %button--transparent;
}

.pagination__index--active a {
    &:link, &:visited, &:hover, &:active {
        background-color: $hc-pagination-active-background-color !important;
        color: $hc-pagination-active-color !important;
    }
}

.pagination__index__more {
    @extend %button;
    @extend %button--transparent;

    &:hover {
        background-color: transparent !important;
    }
}

@include responsive('medium') {
    
    .pagination {
        flex-direction: column;
    }

    .pagination__prev {
        @include margin(0.25, 'bottom');
    }

    .pagination__next {
        @include margin(0.25, 'top');
    }
}