nav.breadcrumbs {
    @include font-size(12px);
    @include padding(0.5, 'bottom');

    ul {
        @include margin(0, left);
        @include margin(0, bottom);
    }

    li {
        display: inline;
    }

    a {
        @include margin(0.5, 'right');
        font-weight: bold;
        color: inherit;
        border-bottom-color: transparent;  /* hide bottom border but keep it solid so it can transition smoothly */
        border-bottom: none;

        &:after {
            @include padding(0.5, 'left');
            content: "\e607";
            font-family: "Redgate";
            color: color('red', 'brand');
            font-weight: normal;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
