/*------------------------------------*\
	#VERTICAL NAVIGATION
\*------------------------------------*/

.nav--vertical {
	@include padding(1, bottom);
	@include margin(1, bottom);
	background-color: color('grey', 1);

	h2 {
		@include padding(0.5, top);
		@include padding(1, left);
		@include padding(0.5, bottom);
		background-color: color('grey', 2);
		border-right: 5px solid color('red', 'brand');
		font-weight: bold;
	}

	ul {
		@extend .list--bare;
	}

	li {
		@include margin(0);

		li a {
			@include padding(1, left);
		}
	}

	a {
		@include padding(1, left);
		@include padding(1, right);
		@include padding(0.25, top);
		@include padding(0.25, bottom);
		position: relative;
		display: block;
		border-bottom: none;
		font-weight: bold;

		&.active {
			background-color: color('grey', 3);
		}
	}
}

.nav--vertical--right {

	h2 {
		border-left: 5px solid color('red', 'brand');
		border-right: none;
	}
}
