.nav-bar {

    background-color: $hc-nav-bar-background-color;

    &--light {
        background-color: transparent;
        border-bottom: 1px solid color('grey', 2);
    }

    ul {
        @extend %list--horizontal;
        @include margin(0, bottom);

        li {
            @include margin(0, 'bottom');
        }
    }
}

.nav-bar--right {
    @extend .float-right;
}

.nav-bar--center {
    @extend .text--center;
    ul {
        @extend .display--inline;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav-bar a {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $hc-nav-bar-link-border-color;
    font-weight: $hc-nav-bar-link-font-weight;
    color: $hc-nav-bar-link-color;
    display: block;

    @include padding(0.5);

    &:hover {
        color: $hc-nav-bar-link-color-hover;
        background-color: $hc-nav-bar-background-color-hover;
    }
}

.nav-bar .active a {
    border-bottom-color: $hc-nav-bar-link-border-color-active;
    color: $hc-nav-bar-link-color-active;
    font-weight: $hc-nav-bar-link-font-weight-active;
}

.nav-bar .button {
    @include margin(0, bottom);
}
