/*------------------------------------*\
    #DROPDOWN NAVIGATION
\*------------------------------------*/
.dropdown {
    position: relative;

    ul {
        @include padding(0.5, top);
        @include padding(0.25, bottom);
        display: block;
        position: absolute;
        top: 100%;
        left: -1rem;
        z-index: 10;
        min-width: px-rem(180);

        li {
            position: relative;
            display: block;
            width: 100%;
        }

        a {
            @include padding(0.75, left);
            @include padding(0.75, right);
            @include padding(0.25, bottom);
            display: block;
        }
    }

    & > a {
        @include padding(0.75, right);
    }

    &.closed > ul {
        display: none;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 0;
        right: px-rem(7px);
        width: 16px;
        height: 18px;

        &:before {
            @include font-size(20px);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Redgate";
        }
    }

    &.open .arrow:before {
        content: "\e608";
    }

    &.closed .arrow:before {
        content: "\e605";
    }
}
