/* Generic form styles */
form, fieldset {
    border: none;
}

input, select, textarea {
    @include border();
    padding: $hc-forms-input-padding; // Set padding explicitly because of IE rounding to 2 decimal places only.
    display: inline-block;
    width: 90%; // Fallback if calc rule below fails.
    width: calc(100% - #{$hc-forms-input-meta-allowance});
    border-radius: $hc-forms-input-border-radius;
    border-color: $hc-forms-input-border-colour;
}

input, select {
    line-height: normal; // Normalize sets line height of input to 'normal', let's keep it the same for selects also.
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    position: relative;
    display: inline-block;
    width: $hc-forms-checkbox-width;
    height: $hc-forms-checkbox-height;
    border-style: solid;
    border-width: $hc-forms-checkbox-border-width;
    border-color: $hc-forms-checkbox-border-colour;
    vertical-align: $hc-forms-checkbox-vertical-alignment;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:checked {
        background: $hc-forms-checkbox-checked-background-colour;
        border-color: $hc-forms-checkbox-checked-border-colour;
    }

    &:disabled, &.disabled {
        border-color: $hc-forms-checkbox-disabled-border-colour;
        background-color: $hc-forms-checkbox-disabled-background-colour !important;

        & + label {
            color: $hc-forms-disabled-color;
        }
    }

    &:disabled:checked, &.disabled:checked {
        background-color: $hc-forms-checkbox-disabled-checked-background-colour !important;
    }

    & + label {
        @include margin($hc-forms-checkbox-label-margin-ratio, right);
        @include padding($hc-forms-checkbox-label-padding-ratio, 'left');
        font-weight: normal;
        display: inline-block;
        transform: translateY(2px);

        // IE7 support.
        .ie7 & {
            zoom: 1;
            display: inline;
        }
    }

    &:hover, & + label:hover {
        cursor: pointer;
    }
}

input[type="checkbox"] {
    border-radius: $hc-forms-checkbox-border-radius;

    &:checked {
        &:after {
            @include font-size($hc-forms-checkbox-tick-font-size, false);
            content: "\e625";
            color: color('white');
            font-family: "Redgate";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

input[type="radio"] {
    border-radius: $hc-forms-radio-border-radius;

    &:checked {
        box-shadow: inset 0px 0px 0px 3px color('white');
    }
}

label {
    @include margin($hc-forms-label-margin-bottom-ratio, 'bottom');
    display: block;
    font-weight: bold;
}

select {
    @include padding($hc-forms-select-padding-right-ratio, 'right');
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA4LjI3IiB3aWR0aD0iMTIiIGhlaWdodD0iOC4yNyI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMCAyLjI3bDIuMjctMi4yNyAzLjczIDMuNzMgMy43My0zLjczIDIuMjcgMi4yNy02IDYtNi02eiIvPjwvc3ZnPg==); // Base64 encoded SVG.
    background-repeat: no-repeat;
    background-position: $hc-forms-select-background-position;
    background-size: $hc-forms-select-background-size;

    &::-ms-expand {
        display: none; // Hide arrow in IE 10.
    }

    // Hack to get select to display same height in all browsers.
    // All browsers, apart from Chrome are displaying the select
    // box as 2px taller, so we reduce the padding by default,
    // and override the padding for Chrome only.
    padding-top: $hc-forms-select-padding-top;
    padding-bottom: $hc-forms-select-padding-bottom;
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        // Chrome only CSS.
        padding-top: $hc-forms-input-padding;
        padding-bottom: $hc-forms-input-padding;
    }
}

// Data list dropdown arrow, which only displays in Chrome.
input[list]::-webkit-calendar-picker-indicator {
    @include margin($hc-forms-datalist-arrow-margin-left-ratio, 'left');
    color: transparent;
    background-color: transparent;
    background-position: $hc-forms-datalist-arrow-background-position;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA4LjI3IiB3aWR0aD0iMTIiIGhlaWdodD0iOC4yNyI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMCAyLjI3bDIuMjctMi4yNyAzLjczIDMuNzMgMy43My0zLjczIDIuMjcgMi4yNy02IDYtNi02eiIvPjwvc3ZnPg==); // Base64 encoded SVG.
    background-repeat: no-repeat;
    background-size: $hc-forms-datalist-arrow-background-size;
}