/* Generic form styles */
form, fieldset {
    border: none;
}

input, select, textarea, label {
    display: block;
}

input, select, textarea {
    @include border();
    @include margin(0.5, bottom);
    @include padding(0.25);
    display: inline-block;
    width: 90%; // Fallback if calc rule below fails.
    width: calc(100% - 30px);
    border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    border: none;
    width: auto;
    display: inline-block;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    & + label {
        @include margin(1, right);
        font-weight: normal;
        display: inline-block;

        // IE7 support.
        .ie7 & {
            zoom: 1;
            display: inline;
        }
    }
}

input[type="submit"] {
    @extend %button;
    width: auto;
    
    &.button--primary {
        @extend %button--primary;
    }
}


label {
    @include font-size(12px);
    @include px-rem(letter-spacing, 1);
    text-transform: uppercase;
    font-weight: bold;
}
