/* Generic form styles */
form, fieldset {
    border: none;
}

input, select, textarea, label {
    display: block;
}

input, select, textarea {
    @include border();
    @include padding(0.25);
    display: inline-block;
    width: 90%; // Fallback if calc rule below fails.
    width: calc(100% - 30px);
    border-radius: 5px;
    border-color: color('grey', 5);
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid color('grey', 7);
    vertical-align: text-top;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:checked {
        background: color('blue', 6);
        border-color: color('blue', 6);
    }

    &:disabled, &.disabled {
        border-color: color('grey', 4);
        background-color: transparent !important;

        & + label {
            color: color('grey', 4);
        }
    }

    & + label {
        @include margin(1, right);
        font-weight: normal;
        display: inline-block;

        // IE7 support.
        .ie7 & {
            zoom: 1;
            display: inline;
        }
    }
}

input[type="checkbox"] {
    border-radius: 2px;

    &:checked {
        &:after {
            content: "\e625";
            color: color('white');
            font-family: "Redgate";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

input[type="radio"] {
    border-radius: 50%;

    &:checked {
        box-shadow: inset 0px 0px 0px 3px color('white');
    }
}

input[type="submit"] {
    @extend %button;
    width: auto;
    
    &.button--primary {
        @extend %button--primary;
    }
}


label {
    @include font-size(16px);
    @include margin(0.1, 'bottom');
    font-weight: bold;
}