::-webkit-input-placeholder {
    color: $hc-placeholder-colour;
}

::-moz-placeholder {
    color: $hc-placeholder-colour;
}

:-ms-input-placeholder {
    color: $hc-placeholder-colour;
}

::-ms-input-placeholder {
    color: $hc-placeholder-colour;
}

::placeholder {
    color: $hc-placeholder-colour;
}

:disabled::-webkit-input-placeholder {
    color: $hc-placeholder-disabled-colour;
}

:disabled::-moz-placeholder {
    color: $hc-placeholder-disabled-colour;
}

:disabled:-ms-input-placeholder {
    color: $hc-placeholder-disabled-colour;
}

:disabled::-ms-input-placeholder {
    color: $hc-placeholder-disabled-colour;
}

:disabled::placeholder {
    color: $hc-placeholder-disabled-colour;
}
