/* Generic form styles */
form, fieldset {
    border: none;
}

input, select, textarea {
    @include border();
    padding: 10px; // Set padding explicitly because of IE rounding to 2 decimal places only.
    display: inline-block;
    width: 90%; // Fallback if calc rule below fails.
    width: calc(100% - 30px);
    border-radius: 5px;
    border-color: color('grey', 5);
}

input, select {
    line-height: normal; // Normalize sets line height of input to 'normal', let's keep it the same for selects also.
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid color('grey', 6);
    vertical-align: text-top;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:checked {
        background: color('blue', 6);
        border-color: color('blue', 6);
    }

    &:disabled, &.disabled {
        border-color: color('grey', 4);
        background-color: transparent !important;

        & + label {
            color: $hc-forms-disabled-color;
        }
    }

    &:disabled:checked, &.disabled:checked {
        background-color: color('grey', 2) !important;
    }

    & + label {
        @include margin(1, right);
        @include padding(0.1, 'left');
        font-weight: normal;
        display: inline-block;
        transform: translateY(2px);

        // IE7 support.
        .ie7 & {
            zoom: 1;
            display: inline;
        }
    }

    &:hover, & + label:hover {
        cursor: pointer;
    }
}

input[type="checkbox"] {
    border-radius: 2px;

    &:checked {
        &:after {
            content: "\e625";
            color: color('white');
            font-family: "Redgate";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

input[type="radio"] {
    border-radius: 50%;

    &:checked {
        box-shadow: inset 0px 0px 0px 3px color('white');
    }
}

label {
    @include margin(0.1, 'bottom');
    display: block;
    font-weight: bold;
}

select {
    @include padding(1.2, 'right');
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA4LjI3IiB3aWR0aD0iMTIiIGhlaWdodD0iOC4yNyI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMCAyLjI3bDIuMjctMi4yNyAzLjczIDMuNzMgMy43My0zLjczIDIuMjcgMi4yNy02IDYtNi02eiIvPjwvc3ZnPg==); // Base64 encoded SVG.
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 1em;

    &::-ms-expand {
        display: none; // Hide arrow in IE 10.
    }

    // Hack to get select to display same height in all browsers.
    // All browsers, apart from Chrome are displaying the select
    // box as 2px taller, so we reduce the padding by default,
    // and override the padding for Chrome only.
    padding-top: 9px;
    padding-bottom: 9px;
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        // Chrome only CSS.
        @include padding(0.25, 'top');
        @include padding(0.25, 'bottom');
    }
}

// Data list dropdown arrow, which only displays in Chrome.
input[list]::-webkit-calendar-picker-indicator {
    @include margin(0.25, 'left');
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA4LjI3IiB3aWR0aD0iMTIiIGhlaWdodD0iOC4yNyI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMCAyLjI3bDIuMjctMi4yNyAzLjczIDMuNzMgMy43My0zLjczIDIuMjcgMi4yNy02IDYtNi02eiIvPjwvc3ZnPg==); // Base64 encoded SVG.
    background-repeat: no-repeat;
    background-size: 1em;
}