/**
 * Import all the modules
 */

@import 'base/css/main';

@import 'colour/css/main';

@import 'type/css/main';

@import 'links/css/main';

@import 'grid/css/main';

@import 'maps/css/main';

@import 'button/css/main';

@import 'table/css/main';

@import 'forms/css/main';

@import 'media/css/main';

@import 'corners/css/main';

@import 'tabs/css/main';

@import 'island/css/main';

@import 'avatar/css/main';

@import 'video/css/main';

@import 'lightbox/css/main';

@import 'icons/css/main';

@import 'list/css/main';

@import 'navigation/css/main';

@import 'notification/css/main';

@import 'carousel/css/main';

@import 'animation/css/main';

@import 'scroll/css/main';

@import 'sticky/css/main';

@import 'equalise/css/main';

@import 'card/css/main';

@import 'comment-counter/css/main';

@import 'sharing/css/main';

// Only import Confluence styling for Confluence themes.
// @import 'confluence/css/main';
