/*------------------------------------*\
    #MEDIA

\*------------------------------------*/

/**
 * The media object allows you to have an image/video or other fixed width
 * media to the left or right with some content that describes it in the
 * center.
 */
 
 
// Wrapper for the media object
.media {
  @include clearfix();
  display: block;
}

// Child node of the media object. Generally a link, image, or video. Will
// appear to the left of the .bd. [ Optional region. ]
.media__image {
  float: left;
  margin-right: 1em;
}
.media__image--right {
  margin-left: 1em;
  float: right;
}

// Main content area for the media object, can contain any other objects.
// Protected. [ Required region. ]
.media__body {
  overflow: hidden;
  display: block;
}

// Chunky media objects add extra margin to the media image.
.media--chunky {
    @include padding(2, top);
    @include padding(2, bottom);
    .media__image {
        margin-right: 4em;
    }
    .media__image--right {
        margin-left: 4em;
    }
}


// A temporary style to set a width on a video when it's inside tabs, inside a media object.
// This is a common pattern when we tab types of resources, like webinars. 
.media .video-container { 
    width:440px;
}




