/* =IMAGES
----------------------------------------------------- */


/* =FIGURES
----------------------------------------------------- */

/* captioned figure */
/*
.figure--caption {
	display: inline-block;
	width: auto;
	@include px-rem(padding, 12);
	img {
		text-align: center;
		margin: auto 0;
		border-style: solid;
		border-width: 1px;
		border-color: $colour--grey;
	}
	figcaption {
		@include px-rem(padding, 4, 4, 0, 4);
		margin-bottom: 0;
	    font-size: 85%;
	}
}
*/


