/*
 * HubSpot included JS sets inputs to 95%. Force it to 100% width!
 */
.hs-input {
    width: 100% !important;
    &[type="checkbox"],
    &[type="radio"] {
        width: auto !important;
    }
}

.hs-form {
    fieldset {
        max-width: none !important;
    }
    .multi-container {
        @include margin(0.5, top);
        @include margin(0, left);
        list-style: none;

        li {
            @include margin(0.5, bottom);
        }

        label {
            font-weight: normal;
            input {
                @include margin(0.5, right);
            }
        }

        input {
            @include margin(0, bottom);
        }
    }
}

@include responsive("small") {
  .hbspt-form .hs-form fieldset.form-columns-2 .hs-form-field { /* excessively specific to overwrite hubspot css */
    width: 100%;
  }
}