.toggle-container {
    position: relative;
    display: inline-block;
    top: $hc-toggle-container-top-margin;
    
    // Replicating the default 'label next to a checkbox' styles.
    & + label {
        @include margin($hc-forms-checkbox-label-margin-ratio, right);
        @include padding($hc-forms-checkbox-label-padding-ratio, 'left');
        font-weight: normal;
        display: inline-block;
        transform: translateY($hc-toggle-label-top-margin);
    }

    &--disabled + label {
        color: $hc-forms-disabled-color;
    }

    &--disabled input[type="checkbox"].toggle {
        background-color: $hc-toggle-background-color-disabled !important;
    }

    input[type="checkbox"].toggle {
        display: block;
        width: $hc-toggle-width;
        height: $hc-toggle-height;
        border: none;
        border-radius: $hc-toggle-border-radius;
        background-color: $hc-toggle-background-color;

        &:checked {
            background-color: $hc-toggle-background-color-active;
        }

        &:disabled, &.disabled {
            background-color: $hc-toggle-background-color-disabled !important;
        }

        &:after {
            display: none; // Disable the tick that's added to a default Honycomb checkbox.
        }

        & + label {
            @include margin($hc-toggle-switch-margin-ratio);
            position: absolute;
            display: block;
            width: $hc-toggle-switch-width;
            height: $hc-toggle-switch-height;
            background-color: $hc-toggle-foreground-color;
            border-radius: 100%;
            left: $hc-toggle-switch-space;
            top: 50%;
            transform: translateY(-50%);
        }

        &:checked + label {
            left: calc(100% - #{($hc-toggle-switch-width + $hc-toggle-switch-space)});
        }

        &, & + label {
            transition: all $hc-toggle-transition-duration;
        }

        &::-ms-check {
            display: none;
        }
    }
}