.form {

    &__field-container {
        @include margin(0.6, 'bottom');

        &--error {
            .form__error-message {
                display: block;
            }

            input, textarea {
                border-width: 2px;
                border-color: color('red', 5);
            }
        }
    }

    &__help-text {
        @include margin(0.1, "bottom");
        color: color("grey", 5);

        label + & {
            @include margin(-0.1, 'top');
        }
    }

    &__error-message {
        @include margin(0.1, 'top');
        display: none;
        color: color('red', 5);
    }

    &__required-dot {
        @extend .rounded--circle;
        @include margin(0.25, "left");
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: color("grey", 5);

        textarea + & {
            @include margin(0.25, "top");
            vertical-align: top;
        }
    }

    &__help {
        @include margin(0.25, "left");
        display: inline-block;
        width: 20px;
        height: 20px;
        color: color("grey", 5);

        &::before {
            @include margin(0);
            @include font-size(20px, 20px);
        }

        textarea + & {
            @include margin(0.25, "top");
            vertical-align: top;
        }
    }
}

.label--disabled {
    color: $hc-forms-disabled-color;
}