$hc-card-padding: 0.25 !default;
$hc-card-background-color: color('grey', 1) !default;
$hc-card-background-color--light: color('white') !default;
$hc-card-background-color--dark: color('grey', 8) !default;
$hc-card-text-color: color('grey', 7) !default;
$hc-card-text-color--dark: color('white') !default;
$hc-card-shadow-distance: 2px 2px 0 !default;
$hc-card-shadow-color: rgba(0, 0, 0, 0.15) !default;
$hc-card-shadow-color--dark: color('black') !default;
$hc-card-border-radius: 2px !default;