$hc-tooltip-width: 300px !default;
$hc-tooltip-background-color: hsla(0%, 0%, 20%, 0.9) !default;

$hc-tooltip-text-color: color('white') !default;
$hc-tooltip-border-radius: 8px !default;
$hc-tooltip-font-size: 14px !default;