$hc-tooltip-top-bottom-width: 300px !default;
$hc-tooltip-left-right-width: 150px !default;
$hc-tooltip-text-color: color('white') !default;
$hc-tooltip-background-color: color('black') !default;
$hc-tooltip-border-radius: 8px !default;
$hc-tooltip-font-size: 14px !default;
$hc-tooltip-line-height: 20px !default;