/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/
/** Set up some default animations.
  */

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity : 1; }
}
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes slide-left {
    0% { transform: translateX(200px); }
    100% { transform: translateX(0); }
}
@keyframes slide-right {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(0); }
}
@keyframes slide-up {
    0% { transform: translateY(200px); }
    100% { transform: translateY(0); }
}
@keyframes slide-down {
    0% { transform: translateY(-200px); }
    100% { transform: translateY(0); }
}


%fade-in {
    animation: fade-in 1s 1;
}
%fade-out {
    animation: fade-out 1s 1;
}
%slide-left {
    animation: slide-left 1s 1;
}
%slide-right {
    animation: slide-right 1s 1;
}
%slide-up {
    animation: slide-up 1s 1;
}
%slide-down {
    animation: slide-down 1s 1;
}


/* Combinations */
%fade-in-slide-left {
    animation: fade-in 1s 1, slide-left 1s 1;
}
%fade-in-slide-right {
    animation: fade-in 1s 1, slide-right 1s 1;
}
%fade-in-slide-up {
    animation: fade-in 1s 1, slide-up 1s 1;
}
%fade-in-slide-down {
    animation: fade-in 1s 1, slide-down 1s 1;
}
%fade-out-slide-left {
    animation: fade-out 1s 1, slide-left 1s 1;
}
%fade-out-slide-right {
    animation: fade-out 1s 1, slide-right 1s 1;
}
%fade-out-slide-up {
    animation: fade-out 1s 1, slide-up 1s 1;
}
%fade-out-slide-down {
    animation: fade-out 1s 1, slide-down 1s 1;
}




