$hc-spinner-radial-size: 64px !default;
$hc-spinner-radial-size-tiny: 16px !default;
$hc-spinner-radial-size-small: 32px !default;
$hc-spinner-radial-size-large: 80px !default;

$hc-spinner-radial-border: 8px !default;
$hc-spinner-radial-border-tiny: 3px !default;
$hc-spinner-radial-border-small: 5px !default;
$hc-spinner-radial-border-large: 10px !default;
