/*------------------------------------*\
    #BUTTON STYLES
\*------------------------------------*/

// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button,
%button {
    @include margin(1, bottom);
    @include font-size(12px);
    padding: $button-padding !important;
    background-color: $button-background !important;
    color: $button-color !important;
    border-width: $button-border-width !important;
    border-style: $button-border-style !important;
    border-color: $button-border-color !important;
    border-radius: $button-radius;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;

    border-bottom-width: 2px !important;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:hover {
        background-color: $button-hover-background !important;
        color: $button-hover-color !important;
        border-width: $button-hover-border-width !important;
        border-style: $button-hover-border-style !important;
        border-color: $button-hover-border-color !important;
        border-bottom-width: 2px !important;
    }

    &:active {
        background-color: color('grey', 5) !important;
        border-color: $button-hover-border-color !important;
    }
}

.button--large,
%button--large {
padding: $button-padding--large;
}

.button--small,
%button--small {
padding: $button-padding--small;
}

.button--full-width,
%button--full-width {
display: block;
text-align: center;
}

.button--inline,
%button--inline {
display: inline;
}

// Primary buttons.
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--primary,
%button--primary {
    background-color: color('blue', 4) !important;
    border-color: color('blue', 6) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('blue', 5) !important;
        border-color: color('blue', 7) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('blue', 6) !important;
        border-color: color('blue', 6) !important;
    }
}

// Download button.
// Extends the primary button, adding a download icon before the button text
.button--download,
%button--download {
    @extend %button--primary;

    &:before {
        content: "\f019 ";
        font-family: "FontAwesome";
        @include padding(0.5, right);
    }
}

// More button.
// Extends the primary blue button, adding a chevron-right icon after the button text
.button--more,
%button--more {
    @extend %button--primary;

    &:after {
        content: "\f054 ";
        font-family: "FontAwesome";
        @include padding(0.5, left);
    }
}


// Green "buy now" buttons with a shoping cart icon before the button text
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--buy,
%button--buy {
    background-color: color('green', 5) !important;
    border-color: color('green', 6) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('green', 6) !important;
        border-color: color('green', 7) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('green', 7) !important;
        border-color: color('green', 7) !important;
    }

    &:before {
        content: "\f07a ";
        font-family: "FontAwesome";
        @include padding(0.5, right);
    }
}

// "Disabled" buttons
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--disabled,
%button--disabled,
[disabled] {
    &, &:hover, &:active {
        background-color: color('grey', 2) !important;
        border-color: transparent !important;
        color: color('grey') !important;
        cursor: not-allowed;
    }
}
