/*------------------------------------*\
    #BUTTON STYLES
    \*------------------------------------*/

// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button,
%button {
    @include margin(0.5, bottom);
    padding: $hc-button-padding !important;
    background-color: $hc-button-background !important;
    color: $hc-button-color !important;
    border-width: $hc-button-border-width !important;
    border-style: $hc-button-border-style !important;
    border-color: $hc-button-border-color !important;
    border-radius: $hc-button-radius;
    font-weight: 500;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    word-break: normal;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:hover {
        background-color: $hc-button-hover-background !important;
    }

    &:active {
        background-color: $hc-button-active-background !important;
    }
}

p:last-child .button:last-child {
    // if the button is the last thing in a section, no extra margin, so that top and bottom section padding can stay consistent
    @include margin(0, bottom);
}

.button--large,
%button--large {
    @include font-size($hc-button-font-size--large);
    padding: $hc-button-padding--large !important;
}

.button--small,
%button--small {
    @include font-size($hc-button-font-size--small);
    padding: $hc-button-padding--small !important;
}

.button--x-small,
%button--x-small {
    @include font-size($hc-button-font-size--x-small);
    padding: $hc-button-padding--x-small !important;
}

.button--xx-small,
%button--xx-small {
    @include font-size($hc-button-font-size--xx-small);
    padding: $hc-button-padding--xx-small !important;
}

.button--full-width,
%button--full-width {
    display: block;
    text-align: center;
}

.button--inline,
%button--inline {
    display: inline;
}

// Primary buttons.
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--primary,
%button--primary {
    background-color: $hc-button-primary-background !important;
    color: $hc-button-primary-color !important;

    &:hover {
        background-color: $hc-button-primary-hover-background !important;
    }

    &:active {
        background-color: $hc-button-primary-active-background !important;
    }
}

// Download button.
// Extends the primary button, adding a download icon before the button text
.button--download,
%button--download {
    @extend %button--primary;

    &:before {
        content: "\e60f ";
        font-family: "Redgate";
        @include padding(0.25, right);
    }
}

// Mobile download button extension class
// Replace arrow with email icon
.button--download--mobile,
%button--download--mobile {
    &:before {
        content: "\e611 ";
    }
}

// More button.
// Extends the primary blue button, adding a chevron-right icon after the button text
.button--more,
%button--more {
    @extend %button--primary;

    &:after {
        content: "\e607 ";
        font-family: "Redgate";
        @include padding(0.25, left);
    }
}


// Green "buy now" buttons with a shoping cart icon before the button text
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--buy,
%button--buy {
    background-color: color('green', 5) !important;
    border-color: color('green', 6) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('green', 6) !important;
        border-color: color('green', 7) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('green', 7) !important;
        border-color: color('green', 7) !important;
    }

    &:before {
        content: "\e62a ";
        font-family: "Redgate";
        @include padding(0.25, right);
    }
}

// "Disabled" buttons
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--disabled,
%button--disabled,
[disabled] {
    &, &:hover, &:active {
        background-color: $hc-button-disabled-background !important;
        color: $hc-button-disabled-color !important;
        cursor: not-allowed;

        &.button--primary {
            background-color: $hc-button-primary-disabled-background !important;
            color: $hc-button-disabled-primary-color !important;
        }
    }
}

// Red button
.button--red {
    background-color: color('red', 5) !important;
    border-color: color('red', 5) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('red', 5) !important;
        border-color: color('red', 6) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('red', 6) !important;
        border-color: color('red', 6) !important;
        color: color('white') !important;
    }
}

// White button
.button--white {
    background-color: color('white') !important;
    border-color: color('white') !important;
    color: $hc-link-color !important;

    &:hover {
        background-color: color('grey', 2) !important;
        border-color: color('grey', 2) !important;
    }

    &:active {
        background-color: color('grey', 4) !important;
        border-color: color('grey', 4) !important;
    }
}

// Transparent button
.button--transparent,
%button--transparent {
    background-color: $hc-button-transparent-background !important;
    color: $hc-button-transparent-color !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:hover {
        background-color: $hc-button-transparent-background !important;
        color: $hc-button-transparent-color !important;
    }

    &:active {
        background-color: $hc-button-transparent-background !important;
        color: $hc-button-transparent-active-color !important;
    }

    &--dark {
        color: $hc-button-transparent-dark-color !important;

        &:hover {
            color: $hc-button-transparent-dark-color !important;
        }

        &:active {
            color: $hc-button-transparent-dark-active-color !important;
        }
    }
}
