/*------------------------------------*\
    #BUTTON STYLES
    \*------------------------------------*/

// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button,
%button {
    @include font-size($hc-button-font-size);
    padding: $hc-button-padding !important;
    background-color: $hc-button-background !important;
    color: $hc-button-color !important;
    border-width: $hc-button-border-width !important;
    border-style: $hc-button-border-style !important;
    border-color: $hc-button-border-color !important;
    border-radius: $hc-button-radius;
    font-weight: 500;
    display: inline-block;
    width: auto;
    -webkit-font-smoothing: antialiased;
    word-break: normal;
    text-decoration: none !important;
    transition: all 0.3s ease;

    // IE7 support.
    .ie7 & {
        zoom: 1;
        display: inline;
    }

    &:hover {
        background-color: $hc-button-hover-background !important;
    }

    &:active {
        background-color: $hc-button-active-background !important;
    }
}

p:last-child .button:last-child {
    // if the button is the last thing in a section, no extra margin, so that top and bottom section padding can stay consistent
    @include margin(0, bottom);
}

.button--large,
%button--large {
    @include font-size($hc-button-font-size--large);
    padding: $hc-button-padding--large !important;
}

.button--small,
%button--small {
    @include font-size($hc-button-font-size--small);
    padding: $hc-button-padding--small !important;
}

.button--x-small,
%button--x-small {
    @include font-size($hc-button-font-size--x-small);
    padding: $hc-button-padding--x-small !important;
}

.button--xx-small,
%button--xx-small {
    @include font-size($hc-button-font-size--xx-small);
    padding: $hc-button-padding--xx-small !important;
}

.button--full-width,
%button--full-width {
    display: block;
    text-align: center;
    width: 90% !important; // Fallback if calc rule below fails.
    width: calc(100% - 30px) !important;
}

.button--inline,
%button--inline {
    display: inline;
}

// Primary buttons.
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--primary,
%button--primary {
    background-color: $hc-button-primary-background !important;
    color: $hc-button-primary-color !important;

    &:hover {
        background-color: $hc-button-primary-hover-background !important;
    }

    &:active {
        background-color: $hc-button-primary-active-background !important;
    }
}

// Download button.
// Extends the primary button, adding a download icon before the button text
.button--download,
%button--download {
    @extend %button--primary;

    &:before {
        content: "\e63f ";
        font-family: "Redgate";
        @include padding(0.25, right);
    }
}

// Mobile download button extension class
// Replace arrow with email icon
.button--download--mobile,
%button--download--mobile {
    &:before {
        content: "\e642 ";
    }
}

// More button.
// Extends the primary blue button, adding a chevron-right icon after the button text
.button--more,
%button--more {
    @extend %button--primary;

    &:after {
        content: "\e635 ";
        font-family: "Redgate";
        @include padding(0.25, left);
    }
}


// Grey "buy now" buttons with a shopping cart icon before the button text
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--buy,
%button--buy {
    background-color: color('grey', 7) !important;
    border-color: color('grey', 7) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('grey', 6) !important;
        border-color: color('grey', 6) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('grey', 5) !important;
        border-color: color('grey', 5) !important;
    }

    &:before {
        content: "\e62e ";
        font-family: "Redgate";
        @include padding(0.25, right);
    }
}

// "Disabled" buttons
// These colors are !important as they should always apply no matter what color schemes they are nested in.
.button--disabled,
%button--disabled {
    &, &:hover, &:active {
        background-color: $hc-button-disabled-background !important;
        color: $hc-button-disabled-color !important;
        cursor: not-allowed;

        &.button--primary {
            background-color: $hc-button-primary-disabled-background !important;
            color: $hc-button-disabled-primary-color !important;
        }
    }
}

// Red button
.button--red,
%button--red {
    background-color: color('red', 5) !important;
    border-color: color('red', 5) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('red', 6) !important;
        border-color: color('red', 6) !important;
        color: color('white') !important;
    }

    &:active {
        background-color: color('red', 7) !important;
        border-color: color('red', 7) !important;
        color: color('white') !important;
    }
}

// White button
.button--white,
%button--white {
    background-color: color('white') !important;
    border-color: color('white') !important;
    color: $hc-link-color !important;

    &:hover {
        background-color: color('grey', 2) !important;
        border-color: color('grey', 2) !important;
    }

    &:active {
        background-color: color('grey', 4) !important;
        border-color: color('grey', 4) !important;
    }
}

// Grey button
.button--dark-grey,
%button--dark-grey {
    background-color: color('grey', 7) !important;
    border-color: color('grey', 7) !important;
    color: color('white') !important;

    &:hover {
        background-color: color('grey', 9) !important;
        border-color: color('grey', 9) !important;
    }

    &:active {
        background-color: color('black') !important;
        border-color: color('black') !important;
    }
}

// Black button
.button--black,
%button--black {
    background-color: color('black') !important;
    border-color: color('black') !important;
    color: color('white') !important;

    &:hover {
        background-color: color('grey', 8) !important;
        border-color: color('grey', 8) !important;
    }

    &:active {
        background-color: color('grey', 8) !important;
        border-color: color('grey', 8) !important;
    }
}

// Lightest red button
.button--lightest-red,
%button--lightest-red {
    background-color: color('red', 1) !important;
    border-color: color('red', 1) !important;
    color: color('grey', 7) !important;

    &:hover {
        background-color: color('red', 3) !important;
        border-color: color('red', 3) !important;
    }

    &:active {
        background-color: color('red', 5) !important;
        border-color: color('red', 5) !important;
    }
}

// Transparent button
.button--transparent,
%button--transparent {
    background-color: $hc-button-transparent-background !important;
    color: $hc-button-transparent-color !important;

    &:hover {
        background-color: $hc-button-transparent-hover-background !important;
        color: $hc-button-transparent-color !important;
    }

    &:active {
        background-color: $hc-button-transparent-hover-background !important;
        color: $hc-button-transparent-active-color !important;
    }

    &--dark {
        color: $hc-button-transparent-dark-color !important;

        &:hover {
            color: $hc-button-transparent-dark-color !important;
        }

        &:active {
            color: $hc-button-transparent-dark-active-color !important;
        }
    }
}

.button--jazzy,
%button--jazzy {
    border: none;
    background-color: transparent !important;
    position: relative;
    left: $hc-button-jazzy-thickness;
    top: $hc-button-jazzy-thickness;
    margin-bottom: $hc-button-jazzy-thickness;
    padding: 6px 22px !important;
    z-index: 2;
    transition: none;

    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: -#{$hc-button-jazzy-thickness};
        left: -#{$hc-button-jazzy-thickness};
        width: calc(100% + ($hc-button-jazzy-thickness*2));
        height: calc(100% + ($hc-button-jazzy-thickness*2));
        border-radius: $hc-button-jazzy-radius;
        background: jazzyGradient();
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: color('white');
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $hc-button-jazzy-radius;
    }

    &:hover {
        color: color('grey', 1) !important;
        background-color: transparent !important;

        &:after {
            background-color: color('grey', 9);
        }
    }
}

.scheme--black {
    .button--jazzy,
    %button--jazzy {
        color: color('grey', 1) !important;

        &:after {
            background-color: color('grey', 9);
        }

        &:hover {
            color: color('grey', 9) !important;

            &:after {
                background-color: color('grey', 1);
            }
        }
    }
}